/* Fonts  Vars*/
/********************************************/
/*Blue */
/*#Light Green*/
/*Green */
/*Red*/
/*Teal*/
/*grey*/
/*Basic Spacing*/
/********************************************/
/*BoxShadow*/
/*Auto Margin*/
/*Border-raduis*/
/*===================================== 
	-- initialization --
=====================================*/
/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    @extend .clear-styles;
}*/
* {
  box-sizing: border-box;
}
.zero {
  margin: 0;
  padding: 0; }

body {
  position: relative;
  margin: 0;
  padding: 0;
  direction: ltr;
  min-width: 1024px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #fafafa; }

.mainContainerX {
  padding: 40px; }

.mainContainer {
  min-height: 100vh;
  padding-left: 130px;
  padding-right: 40px;
  padding-top: 72px;
  background-image: linear-gradient(to bottom, #f5f5f6 0%, #f5f5f6 26%, #fafbfc 0%, #fafbfc 100%); }

#ascrail2003,
#ascrail2004,
#ascrail2004-hr {
  display: none !important; }

::selection {
  background: #47cc4a;
  color: #fff; }

/* Safari */
::-moz-selection {
  background: #47cc4a;
  color: #fff; }

/* Firefox */
:-moz-placeholder,
.form-control::-moz-placeholder {
  color: #d1d1d1; }

::-webkit-input-placeholder,
.form-control::-webkit-input-placeholder {
  color: #d1d1d1; }

:-ms-input-placeholder,
.form-control::-ms-input-placeholder {
  color: #d1d1d1; }

a,
a:hover,
a:link,
a:active,
a:focus,
a:visited {
  outline: none;
  text-decoration: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  line-height: normal; }

*:focus {
  outline: none; }

.clear-styles {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  outline: none;
  -ms-text-shadow: none;
  text-shadow: none;
  list-style: none; }

li {
  list-style-type: none; }

ul {
  padding: 0; }

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none; }

.nicescroll-rails {
  z-index: 2 !important; }

/*ENglish*/
@font-face {
  font-family: font-r;
  src: url("../../fonts/Muli-Regular.ttf"); }
@font-face {
  font-family: font-l;
  src: url("../../fonts/Muli-Light.ttf"); }
@font-face {
  font-family: font-xb;
  src: url("../../fonts/Muli-ExtraBold.ttf"); }
@font-face {
  font-family: font-b;
  src: url("../../fonts/Muli-Bold.ttf"); }
@font-face {
  font-family: font-black;
  src: url("../../fonts/Muli-Black.ttf"); }
@font-face {
  font-family: font-sb;
  src: url("../../fonts/Muli-SemiBold.ttf"); }
@font-face {
  font-family: font-opens;
  src: url("../../fonts/OpenSans-Regular.ttf"); }
@font-face {
  font-family: font-opensb;
  src: url("../../fonts/OpenSans-Semibold.ttf"); }
@font-face {
  font-family: font-openb;
  src: url("../../fonts/OpenSans-Bold.ttf"); }
@font-face {
  font-family: roboto-M;
  src: url("../../fonts/Roboto-Medium.ttf"); }
/*Elements*/












/* dashboard start css */ 







.dashboard-container {
  padding-top: 90px; }
  .dashboard-container .welcome-title {
    font-size: 34px;
    font-family: font-b;
    line-height: 1.18;
    letter-spacing: -1.1px;
    text-align: center;
    color: #252833;
    width: 100%;
    padding-top: 75px;
    padding-bottom: 93px; }
  .dashboard-container .dashboard-ul {
    height: 64px;
    background-color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #E9ECF0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .dashboard-container .dashboard-ul li {
      padding: 10px;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      color: #A8B0BF;
      font-family: font-b;
      font-size: 12px;
      cursor: pointer;
      border-bottom: 2px solid transparent;
      text-transform: uppercase;
      line-height: 1.33;
      letter-spacing: 0.4px;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
      .dashboard-container .dashboard-ul li:hover {
        color: #5E6475; }
      .dashboard-container .dashboard-ul li.active {
        color: #252833;
        border-bottom: 2px solid #4382F9; }

.chart h2 {
  font-family: font-r;
  color: #252833;
  padding-left: 55px;
  padding-bottom: 20px;
  line-height: 1.4;
  letter-spacing: -0.2px;
  font-size: 20px; }

.charts-container {
  position: relative; }
  .charts-container .clear {
    clear: both; }

.linebar {
  position: relative;
  height: 250px;
  margin: 50px 0; }
  .linebar.half {
    width: 48%;
    float: left; }
  .linebar.predicted {
    width: 48%;
    float: right; }
  .linebar.chart70 {
    width: 70%;
    float: left; }
  .linebar.chart70-predicted {
    width: 70%;
    float: left; }
  .linebar .years {
    position: absolute;
    right: 0;
    top: 15px;
    margin: 0;
    display: flex;
    font-family: font-opens;
    font-size: 12px; }
    .linebar .years li {
      margin: 0 10px;
      color: #3E4352; }
    .linebar .years .old span {
      width: 8px;
      height: 8px;
      background-color: #d9f0da;
      display: inline-block; }
    .linebar .years .new span {
      width: 8px;
      height: 8px;
      background-color: #5FD45F;
      display: inline-block; }
    .linebar .years .predicted span {
      width: 8px;
      height: 8px;
      background-color: #CCD2DB;
      display: inline-block; }

.group-barchart {
  position: relative; }
  .group-barchart .years {
    position: absolute;
    right: 0;
    top: 15px;
    margin: 0;
    display: flex;
    font-family: font-opens;
    font-size: 12px; }
    .group-barchart .years li {
      margin: 0 10px;
      color: #3E4352; }
    .group-barchart .years .old span {
      width: 8px;
      height: 8px;
      background-color: #d9f0da;
      display: inline-block; }
    .group-barchart .years .new span {
      width: 8px;
      height: 8px;
      background-color: #5FD45F;
      display: inline-block; }
    .group-barchart .years .predicted span {
      width: 8px;
      height: 8px;
      background-color: #CCD2DB;
      display: inline-block; }
  .group-barchart .x-axis-group .x.axis {
    font-family: font-opens; }
  .group-barchart svg:not(:root) {
    overflow: visible; }

.barChart {
  height: 300px; }

/**/
.halfchartbargroup {
  display: flex;
  padding: 40px 0;
  width: 100%; }
  .halfchartbargroup .group-barchart {
    flex: 1; }

.js-grouped-bar-chart-tooltip-container-Half {
  flex: 1; }
  .js-grouped-bar-chart-tooltip-container-Half svg {
    width: 100%; }
  .js-grouped-bar-chart-tooltip-container-Half .container-group .horizontal-grid-line,
  .js-grouped-bar-chart-tooltip-container-Half .container-group .vertical-grid-line {
    stroke: #dfe2e6; }
  .js-grouped-bar-chart-tooltip-container-Half .container-group .metadata-group .tooltip-body .tooltip-circle {
    fill: #dfe2e6; }
    .js-grouped-bar-chart-tooltip-container-Half .container-group .metadata-group .tooltip-body .tooltip-circle:nth-child(3) {
      fill: #39bd3d; }

.js-grouped-bar-chart-tooltip-container-predicted-Half {
  flex: 1; }
  .js-grouped-bar-chart-tooltip-container-predicted-Half svg {
    width: 100%; }
  .js-grouped-bar-chart-tooltip-container-predicted-Half .container-group .horizontal-grid-line,
  .js-grouped-bar-chart-tooltip-container-predicted-Half .container-group .vertical-grid-line {
    stroke: #dfe2e6; }
  .js-grouped-bar-chart-tooltip-container-predicted-Half .container-group .x.axis .tick:nth-child(n + 9):not(:nth-child(n + 14)) {
    opacity: 0.3; }
  .js-grouped-bar-chart-tooltip-container-predicted-Half .container-group .chart-group .layer:nth-child(n + 8):not(:nth-child(n + 13)) .bar {
    opacity: 0.4 !important; }
  .js-grouped-bar-chart-tooltip-container-predicted-Half .container-group .metadata-group .tooltip-body .tooltip-circle {
    fill: #dfe2e6; }
    .js-grouped-bar-chart-tooltip-container-predicted-Half .container-group .metadata-group .tooltip-body .tooltip-circle:nth-child(3) {
      fill: #39bd3d; }

/**/
.bar-Star {
  display: flex; }
  .bar-Star .group-barchart {
    flex-basis: 70%; }
  .bar-Star .js-grouped-bar-chart-tooltip-container svg {
    width: 100%; }
  .bar-Star .js-grouped-bar-chart-tooltip-container .container-group .horizontal-grid-line,
  .bar-Star .js-grouped-bar-chart-tooltip-container .container-group .vertical-grid-line {
    stroke: #dfe2e6; }
  .bar-Star .js-grouped-bar-chart-tooltip-container .container-group .metadata-group .tooltip-body .tooltip-circle {
    fill: #dfe2e6; }
    .bar-Star .js-grouped-bar-chart-tooltip-container .container-group .metadata-group .tooltip-body .tooltip-circle:nth-child(3) {
      fill: #39bd3d; }
  .bar-Star .star-rating-container {
        /*   .rating {
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            padding: 1em;
        .rating__input {
            position: absolute;
            left: -100vw;
        }
        .rating__label--hidden {
            display: none;
        }

        .rating__label {
            position: relative;
            width: 1.1em;
            font-size: 55px;
            color: $lightgreen-300;
            cursor: pointer;
        }

        .rating__label::before {
            content: "\f005";
            position: absolute;
            font-family: fontawesome;
            opacity: 0;
            top: 18px;
        }

        .rating__label:hover:before,
        .rating__label:hover ~ .rating__label:before {
            opacity: 1 !important;
        }
        .rating__input:checked ~ .rating__label:before {
            opacity: 1;
        }


        }

     */ }
    .bar-Star .star-rating-container .ratingresult {
      display: flex;
      align-items: center;
      flex-flow: column; }
      .bar-Star .star-rating-container .ratingresult .title {
        width: 100%;
        text-align: left;
        padding-bottom: 100px; }
      .bar-Star .star-rating-container .ratingresult ul {
        display: flex; }
        .bar-Star .star-rating-container .ratingresult ul li {
          margin: 0 2px; }
        .bar-Star .star-rating-container .ratingresult ul i {
          color: #7CDB79;
          font-size: 72px; }
      .bar-Star .star-rating-container .ratingresult .ratingresult-numbers {
        margin-top: 33px; }
        .bar-Star .star-rating-container .ratingresult .ratingresult-numbers .below-average {
          font-family: font-b;
          font-size: 14px;
          line-height: 1.43;
          letter-spacing: -0.2px;
          color: #252833; }
          .bar-Star .star-rating-container .ratingresult .ratingresult-numbers .below-average span {
            font-family: font-opens;
            font-size: 12px;
            line-height: 1.33;
            letter-spacing: -0.2px;
            color: #a8b0bf; }
            .bar-Star .star-rating-container .ratingresult .ratingresult-numbers .below-average span.count {
              margin-left: 5px; }

.bar-sparkline {
  display: flex; }
  .bar-sparkline .group-barchart {
    flex-basis: 70%; }
    .bar-sparkline .group-barchart.has75 {
      flex-basis: 30%;
      height: 50px; }
  .bar-sparkline .js-grouped-bar-chart-tooltip-container-predicted svg {
    width: 100%; }
  .bar-sparkline .js-grouped-bar-chart-tooltip-container-predicted .container-group .horizontal-grid-line,
  .bar-sparkline .js-grouped-bar-chart-tooltip-container-predicted .container-group .vertical-grid-line {
    stroke: #dfe2e6; }
  .bar-sparkline .js-grouped-bar-chart-tooltip-container-predicted .container-group .x.axis .tick:nth-child(n + 9):not(:nth-child(n + 14)) {
    opacity: 0.3; }
  .bar-sparkline .js-grouped-bar-chart-tooltip-container-predicted .container-group .chart-group .layer:nth-child(n + 8):not(:nth-child(n + 13)) .bar {
    opacity: 0.4 !important; }
  .bar-sparkline .js-grouped-bar-chart-tooltip-container-predicted .container-group .metadata-group .tooltip-body .tooltip-circle {
    fill: #dfe2e6; }
    .bar-sparkline .js-grouped-bar-chart-tooltip-container-predicted .container-group .metadata-group .tooltip-body .tooltip-circle:nth-child(3) {
      fill: #39bd3d; }
  .bar-sparkline .js-grouped-bar-chart-tooltip-container-predicted-spark svg {
    width: 100%; }
  .bar-sparkline .js-grouped-bar-chart-tooltip-container-predicted-spark .container-group .horizontal-grid-line,
  .bar-sparkline .js-grouped-bar-chart-tooltip-container-predicted-spark .container-group .vertical-grid-line {
    stroke: #dfe2e6; }
  .bar-sparkline .js-grouped-bar-chart-tooltip-container-predicted-spark .container-group .x.axis .tick:nth-child(n + 9):not(:nth-child(n + 14)) {
    opacity: 0.3; }
  .bar-sparkline .js-grouped-bar-chart-tooltip-container-predicted-spark .container-group .chart-group .layer:nth-child(n + 8):not(:nth-child(n + 13)) .bar {
    opacity: 0.4 !important; }
  .bar-sparkline .js-grouped-bar-chart-tooltip-container-predicted-spark .container-group .metadata-group .tooltip-body .tooltip-circle {
    fill: #dfe2e6; }
    .bar-sparkline .js-grouped-bar-chart-tooltip-container-predicted-spark .container-group .metadata-group .tooltip-body .tooltip-circle:nth-child(3) {
      fill: #39bd3d; }

.SparkTabs .sparktab-title {
  display: flex;
  padding-bottom: 40px; }
  .SparkTabs .sparktab-title h2 {
    padding-right: 35px;
    font-family: font-r;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: -0.2px;
    color: #252833; }
  .SparkTabs .sparktab-title .sparktabsUl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .SparkTabs .sparktab-title .sparktabsUl .item {
      padding: 5px 4px;
      font-size: 12px;
      line-height: 1.45;
      letter-spacing: -0.3px;
      text-align: center;
      color: #a8b0bf;
      font-family: font-opens;
      border-radius: 2px;
      border: solid 1px #E9ECF0;
      margin: 0 1px;
      cursor: pointer; }
      .SparkTabs .sparktab-title .sparktabsUl .item.active {
        background-color: #E9ECF0;
        color: #5E6475; }
.SparkTabs .ui.tab > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .SparkTabs .ui.tab > div .numberofSpark {
    text-align: center;
    font-family: font-xb;
    line-height: 1.38;
    letter-spacing: -1.7px;
    text-align: center;
    color: #252833;
    font-size: 64px;
    padding-bottom: 10px; }
  .SparkTabs .ui.tab > div .spark-percentage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .SparkTabs .ui.tab > div .spark-percentage .num {
      font-family: font-opens;
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.33;
      letter-spacing: -0.2px;
      color: #858D9E;
      padding-right: 8px; }
  .SparkTabs .ui.tab > div .sparktask-count ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .SparkTabs .ui.tab > div .sparktask-count ul li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column;
      flex-flow: column;
      padding: 0 32px; }
      .SparkTabs .ui.tab > div .sparktask-count ul li .num {
        font-family: font-b;
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: -0.5px;
        text-align: center;
        color: #252833; }
      .SparkTabs .ui.tab > div .sparktask-count ul li .text {
        font-family: font-opens;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: -0.2px;
        color: #858D9E; }
    .SparkTabs .ui.tab > div .sparktask-count ul a {
      color: #252833; }

.dount-container svg {
  width: 500px; }
  .dount-container svg .chart-group .arc:nth-child(odd) path {
    fill: #39bd3d; }
  .dount-container svg .chart-group .arc:nth-child(even) path {
    fill: #7cdb79; }
  .dount-container svg .chart-group .arc:nth-child(1) path {
    fill: #39bd3d; }
  .dount-container svg .chart-group .arc:nth-child(2) path {
    fill: #47cc4a; }
  .dount-container svg .chart-group .arc:nth-child(3) path {
    fill: #5fd45f; }
  .dount-container svg .chart-group .arc:nth-child(4) path {
    fill: #7cdb79; }
.dount-container .donut-text .value {
  fill: #39bd3d;
  font-size: 16px !important;
  font-family: font-b; }
.dount-container .donut-text .label {
  font-size: 56px !important;
  font-family: font-b;
  fill: #252833; }
  .dount-container .donut-text .label:nth-child(3) {
    font-size: 20px !important; }
.dount-container .britechart-legend {
  height: 30px; }
.dount-container .legend-container-group .legend-entry {
  display: none; }
  .dount-container .legend-container-group .legend-entry.Active {
    display: block; }
    .dount-container .legend-container-group .legend-entry.Active .legend-circle {
      display: none; }
    .dount-container .legend-container-group .legend-entry.Active .legend-entry-name {
      display: none; }
.dount-container .legend-container-group .legend-entry[data-item="1"] {
  display: block; }
  .dount-container .legend-container-group .legend-entry[data-item="1"] .legend-circle {
    display: none; }
  .dount-container .legend-container-group .legend-entry[data-item="1"] .legend-entry-name {
    display: none; }
.dount-container .donut-total {
  position: absolute;
  left: 350px;
  font-size: 14px;
  color: #a8b0bf;
  bottom: 0;
  font-family: font-opens; }

.linebar70-dount .card--chart {
  float: right;
  width: 30%;
  position: relative; }

.linebar70-dount-predicted .card--chart {
  float: right;
  width: 30%;
  position: relative; }

.SummeriesContainer .SummeriesTitle {
  font-size: 28px;
  font-family: font-b;
  padding-left: 90px;
  padding-bottom: 58px;
  margin: 0; }
.SummeriesContainer .SummeriesContainerContent {
  border-bottom: 1px solid #E9ECF0;
  border-top: 1px solid #E9ECF0;
  background-color: #fff;
  display: flex;
  padding: 0px 70px;
  padding-top: 50px;
  flex-wrap: wrap; }
  .SummeriesContainer .SummeriesContainerContent .summerisItem {
    position: relative;
    padding: 20px 0;
    margin-bottom: 70px; }
    .SummeriesContainer .SummeriesContainerContent .summerisItem:last-child:after {
      width: 0; }
    .SummeriesContainer .SummeriesContainerContent .summerisItem::after {
      position: absolute;
      content: "";
      right: 0;
      top: 25px;
      height: 100px;
      width: 1px;
      background-color: #E9ECF0;
      z-index: 2; }
    .SummeriesContainer .SummeriesContainerContent .summerisItem .content {
      display: flex;
      flex-flow: column;
      align-items: center;
      padding: 0 30px;
      width: 204px;
      position: relative;
      z-index: 9; }
      .SummeriesContainer .SummeriesContainerContent .summerisItem .content .title {
        font-size: 14px;
        letter-spacing: 0.2px;
        color: #858D9E;
        font-family: font-xb;
        text-transform: uppercase; }
      .SummeriesContainer .SummeriesContainerContent .summerisItem .content .number {
        font-size: 56px;
        font-family: font-b;
        color: #252833;
        margin: 0;
        overflow: hidden;
        width: 96%;
        text-align: center;
        position: relative;
        padding: 0 5px 12px 0
         }
      .SummeriesContainer .SummeriesContainerContent .summerisItem .content .status {
        color: #adbccc;
        letter-spacing: -0.2px;
        font-size: 16px;
        margin: 0;
        font-family: font-b; }
      .SummeriesContainer .SummeriesContainerContent .summerisItem .content .satusBarUL {
        display: flex;
        height: 4px;
        border-radius: 5px;
        overflow: hidden;
        width: 128px;
        position: relative; }
        .SummeriesContainer .SummeriesContainerContent .summerisItem .content .satusBarUL li {
          position: relative; }
        .SummeriesContainer .SummeriesContainerContent .summerisItem .content .satusBarUL .num-1 {
          width: 35%;
          background: #39bd3d;
          z-index: 3; }
        .SummeriesContainer .SummeriesContainerContent .summerisItem .content .satusBarUL .num-2 {
          width: 45%;
          background: #7cdb79;
          z-index: 2; }
        .SummeriesContainer .SummeriesContainerContent .summerisItem .content .satusBarUL .num-3 {
          width: 20%;
          background: #e9fce3;
          z-index: 1; }
      .SummeriesContainer .SummeriesContainerContent .summerisItem .content .summerisList {
        display: flex;
        justify-content: center;
        width: 100%; }
        .SummeriesContainer .SummeriesContainerContent .summerisItem .content .summerisList > div {
          font-family: font-b;
          font-size: 14px;
          letter-spacing: -0.2px;
          color: #ccd2db; }
          .SummeriesContainer .SummeriesContainerContent .summerisItem .content .summerisList > div span {
            font-size: 14px;
            color: #858d9e; }
        .SummeriesContainer .SummeriesContainerContent .summerisItem .content .summerisList .first {
          margin-right: 14px; }
    .SummeriesContainer .SummeriesContainerContent .summerisItem:before {
      transform: scale(0);
      transition: 0.3s;
      position: absolute;
      content: "";
      left: -10px;
      right: -10px;
      background: #47cc4a;
      bottom: -80px;
      top: -60px;
      z-index: 3; }
    .SummeriesContainer .SummeriesContainerContent .summerisItem:hover:before {
      transform: scale(1); }
    .SummeriesContainer .SummeriesContainerContent .summerisItem:hover .title,
    .SummeriesContainer .SummeriesContainerContent .summerisItem:hover .number,
    .SummeriesContainer .SummeriesContainerContent .summerisItem:hover .status,
    .SummeriesContainer .SummeriesContainerContent .summerisItem:hover .summerisList {
      color: #fff; }
      .SummeriesContainer .SummeriesContainerContent .summerisItem:hover .title > div span,
      .SummeriesContainer .SummeriesContainerContent .summerisItem:hover .number > div span,
      .SummeriesContainer .SummeriesContainerContent .summerisItem:hover .status > div span,
      .SummeriesContainer .SummeriesContainerContent .summerisItem:hover .summerisList > div span {
        color: #fff; }

.jqstooltip {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }
.number sub{
    font-size: 12px; 
    right: 12px;
    position: absolute;
    bottom: 0px;
}
/*# sourceMappingURL=dashboard.css.map */
