$left: left;
$right: right;

$ltr: ltr;
$rtl: rtl;

@import "../_bootstrap";

@import "../_variables";
@import "../_Media-Query";
@import "../_Mixins";
@import "../_normalize";
@import "../_fonts";
// home page components
@import "../Components/_basic-colors";
@import "../Components/_Accordion";
@import "../Components/_Navigation";
@import "../Components/DatePicker";
@import "../Components/_Sections";
@import "../Components/_Modal";
@import "../Components/_GridSystem";
@import "../Components/_header";
@import "../components/_SettingsNew"; 
@import "../Components/_Documents";
@import "../Components/_Documents_noTabs";
@import "../Components/_Dashboard";
@import "../Components/_attachmentNewTable";
@import "../components/_NotificatioBar";
@import "../components/_Print";
@import "../components/_NotificatioPage";
@import "../components/_Login";
@import "../components/_adminProfile";

//@import "../components/_EpsProjects";

/*Elements*/
@import "../Components/Elements/_All-Elements";

.notificontainer {
    width: 600px;
    position: absolute;
    top: 100px;
    right: 0;
    display: none;
}

.documents-stepper .doc-container .docstepper-levels .workflow-sliderSteps .step-slider .step-slider-item .steps-timeline.current__step {
    background-color: #5fd45f;
    color: #fff;
}

.documents-stepper .doc-container .docstepper-levels .workflow-sliderSteps .step-slider .step-slider-item .steps-timeline.current__step span {
    color: #fff;
}

.screen-support {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999999999999;
    background-color: rgba(0, 0, 0, 0.95);
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    .screen-support-text {
        background-image: url(../../images/logo.svg);
        background-repeat: no-repeat;
        background-position: top 16px left 16px;
        background-color: $grey-100;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 30px;
        flex-flow: column;
        border-radius: 15px;
        min-height: 260px;

        p {
            &:first-child {
                font-size: 25px;
                color: $Primary-1;
            }

            &:last-of-type {
                a {
                    font-size: 15px;
                    color: $grey-500;
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    body {
        overflow-y: hidden;
    }

    .screen-support {
        display: flex;
    }
}

@media (max-width: 1200px) {
    .main-header {
        .header-content {
            width: 100%;
            min-width: auto;
        }
    }
}

.workflow__approvalModal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    .workflow__approval {
        border-radius: 4px;
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
        background-color: #ffffff;
    }
}

/* grid show more filter */
.add__widget {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
    margin: 55px 0;
}

.add__widget span {
    cursor: pointer;
}

.SummeriesContainer .SummeriesTitle {
    padding-bottom: 0;
}

@import "../components/_reactCss";