sayed exp
*/
*, :after, :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.ui.radio.checkbox{min-height:15px}
.ui.checkbox {
  position: relative;
  display: inline-block;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  outline: none;
  vertical-align: baseline;
  font-style: normal;
  min-height: 17px;
  font-size: 1rem;
  line-height: 22px;
  min-width: 17px;
}
.ui.checkbox input.hidden {
    z-index: -1;
}
.ui.checkbox input[type=checkbox],.ui.checkbox input[type=radio]{
    cursor:pointer;
    position:absolute;
    top:0;
    left:0;
    opacity:0!important;
    outline:0;
    z-index:3;
    width:17px;
    height:17px
}
.ui.checkbox input.hidden+label{
    cursor:pointer;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
.ui.checkbox .box, .ui.checkbox label {
    cursor: auto;
    position: relative;
    display: block;
    padding-left: 1.85714em;
    outline: 0;
    font-size: 1em;
}
.ui.checkbox .box:before, .ui.checkbox label:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    content: '';
    background: #fff;
    border-radius: .21428571rem;
    -webkit-transition: border .1s ease,opacity .1s ease,-webkit-transform .1s ease,-webkit-box-shadow .1s ease;
    transition: border .1s ease,opacity .1s ease,-webkit-transform .1s ease,-webkit-box-shadow .1s ease;
    transition: border .1s ease,opacity .1s ease,transform .1s ease,box-shadow .1s ease;
    transition: border .1s ease,opacity .1s ease,transform .1s ease,box-shadow .1s ease,-webkit-transform .1s ease,-webkit-box-shadow .1s ease;
    border: 1px solid #d4d4d5;
}
.ui.radio.checkbox .box:before, .ui.radio.checkbox label:before {
    content: '';
    -webkit-transform: none;
    transform: none;
    width: 15px;
    height: 15px;
    border-radius: 500rem;
    top: 1px;
    left: 0;
}
.ui.checkbox .box:after, .ui.checkbox label:after {
    position: absolute;
    font-size: 14px;
    top: 0;
    left: 0;
    width: 17px;
    height: 17px;
    text-align: center;
    opacity: 0;
    color: rgba(0,0,0,.87);
    -webkit-transition: border .1s ease,opacity .1s ease,-webkit-transform .1s ease,-webkit-box-shadow .1s ease;
    transition: border .1s ease,opacity .1s ease,-webkit-transform .1s ease,-webkit-box-shadow .1s ease;
    transition: border .1s ease,opacity .1s ease,transform .1s ease,box-shadow .1s ease;
    transition: border .1s ease,opacity .1s ease,transform .1s ease,box-shadow .1s ease,-webkit-transform .1s ease,-webkit-box-shadow .1s ease;
}
.ui.radio.checkbox .box:after, .ui.radio.checkbox label:after {
    border: none;
    content: ''!important;
    line-height: 15px;
}
.ui.radio.checkbox .box:after, .ui.radio.checkbox label:after {
    top: 1px;
    left: 0;
    width: 22px;
    height: 22px;
    border-radius: 500rem;
    -webkit-transform: scale(.46666667);
    transform: scale(.46666667);
    background-color: rgba(0,0,0,.87);
}
.ui.checkbox input:checked~.box:after, .ui.checkbox input:checked~label:after {
  content: '\e800';
  opacity: 1;
}
/*
sayed exp
*/
.ui.selection.dropdown.singleDropDown {
    transform: none;
  }
.ui.modal {
  display: block
}
.rodal-dialog {
  padding: 0;
  background: transparent;
  display: flex;
  border-radius: .28571429rem;
  justify-content: center;
  align-items: center;
}
/*# sourceMappingURL=layout.css.map */
  /* new css */
  .dropWrapper .ui.selection.dropdown {
    border: none;
  }
  .dropWrapper .ui.selection.dropdown:hover {
    border: none;
}
 .dropWrapper .menu.transition.hidden {
    min-width: 100%;
  }
 .dropWrapper .ui.selection.dropdown.singleDropDown {
    padding: 4px 0;
}
.dropWrapper .borderError .css-1aya2g8 {
  border: 1px solid #d13e2e
}
.dropWrapper .borderValid .css-1aya2g8 {
  border: 1px solid #2AA832;
}
.dropWrapper .fillter-item-c {
  min-width: 48%;
  margin-bottom: 10px;
}
.dropWrapper .filterWrapper {
  width: 100%;
}
.dropWrapper .filterWrapper .fillter-item-c {
  width: 100%;
  margin-top: 10px
}
.dropWrapper .filterWrapper .fillter-item-c .ui.selection.dropdown.singleDropDown {
  height: auto;
}
.dropWrapper .css-d8oujb {
  width: 0 !important
}
.dropWrapper .css-19bqh2r {
  width: 15px;
  height: 18px;
}
.dropWrapper .inputDev.ui.input {
  padding: 4px 0;
}
.dropWrapper #lastname1 {
  background-color: hsl(0,0%,98%);
  border: 1px solid  hsl(0,0%,80%);
  min-height: 35px;
  outline: 0 !important;
  transition: all 100ms;
  min-width: 100%;
  padding-left: 10px;
  border-radius: 4px
}
.dropWrapper {
  padding: 25PX;
  display: flex;
  justify-content: space-between;
  width: auto;
  flex-wrap: wrap;
}
.dropWrapper .customD_Menu {
  width: 100%
}
.dropWrapper .dropBtn {
  text-align: center;
  margin-top: 30px;
  width: 100%;
}
.dropWrapper .spanValidation {
  display: flex;
  justify-content: space-between;
}
.dropWrapper .spanValidation span{
  padding: 1px;
  border-radius: 3px;
  background: #f3e0e0;
  border: 1px solid #f6e2e3;
  font-size: 14px;
  color: #9da3b1;
}
.fullWidthWrapper {
  width: 100%;
  text-align: center;
  margin: 20px 0;
}
.dropWrapper .fullWidthWrapper.textLeft{
  width: 100%;
  text-align: left;
  margin: 20px 0;
}
.dropWrapper .color.color {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  font-size: 15px;
  font-weight: 600;
  padding: 10px 10px 10px 5px;
  border-bottom: 1px solid #ebebeb!important;
  border: none;
  box-sizing: border-box;
  margin-top: 22px;
  box-shadow: none;
  font-family: Open Sans,sans-serif;
}
.customDatepicker .proForm .linebylineInput .inputDev.ui.input.input-group.date.NormalInputDate {
  width: 100%
}
.customDatepicker .proForm .linebylineInput .inputDev.ui.input.input-group.date.NormalInputDate >div{
  position: relative;
}
.customDatepicker .proForm .linebylineInput .inputDev.ui.input.input-group.date.NormalInputDate >div >div{
  z-index: 13;
}
.customDatepicker .proForm .linebylineInput .inputDev.ui.input.input-group.date.NormalInputDate >div::after{
  content: '';
  position: absolute;
  background-image: url(../../images/icons/date-pickericon.svg);
  right: 10px;
  background-size: 100% 100%;
  width: 16px;
  height: 16px;
  top: 10px;
  z-index: 0;
}
.customDatepicker .proForm .linebylineInput input {
  width: 100% !important;
  text-align: left;
  height: 40px;
  border-radius: 4px;
  border: solid 1px #DADEE6;
  font-family: font-opens;
  letter-spacing: -0.2px;
  color: #3E4352;
  background-color: #ffffff;
  font-size: 14px;
  outline: 0;
  padding: .67857143em 1em;
}
.twoLineHeader {
  position: relative;
  display: inline-block;
}
.twoLineHeader::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: #4382f9;
  right: -70px;
  top: 12px;
}
.twoLineHeader::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: #4382f9;
  left: -70px;
  top: 12px;
}
.deleteImg {
  width: 16px;
  height: 16px
}
/*
table edition
*/
.dropWrapper .fullWidthWrapper table {
  border-spacing: 0;
}
.dropWrapper .fullWidthWrapper table thead tr th, .dropWrapper .fullWidthWrapper table tbody tr td{
  border: 1px solid #cccccc;
  border-left-width: 0;
  border-bottom-width: 0;
}
.dropWrapper .fullWidthWrapper table thead tr th, .dropWrapper .fullWidthWrapper table tbody tr:last-of-type td{
  border-bottom-width: 1px;
}
.dropWrapper .fullWidthWrapper table thead tr th:first-of-type, .dropWrapper .fullWidthWrapper table tbody tr td:first-of-type {
  border-left-width: 1px;
}
.fullWidthWrapper .ReactTable >div, .fullWidthWrapper .ReactTable >div .rt-tbody {
  overflow: visible;
}
.fullWidthWrapper .ReactTable >div .rt-tbody div {
  overflow: visible;
  white-space: pre-wrap;
  align-items: center;
}
.ReactTable .rt-tr-group {
  width: 100%;
}
.attachmentPage {
  width: 100%;
}
/* sla7 22/1/2019*/
.gridfillter-container .fillter-status-container .fillter-status {
  width: 170px;
}
.mainContainer {
  background-image: linear-gradient(to bottom,#f5f5f6 100%,#f5f5f6 26%,#fafbfc 0%,#fafbfc 0%);
}
.mainContainer .ui.fluid.selection.dropdown.singleDropDown {
  padding: 0;
}
.mainContainer .customD_Menu >div >div >div {
  padding: 0;
}
.mainContainer .customD_Menu >div >div >div >div  {
  white-space: nowrap;
  padding-left: 12px;
}
.mainContainer .customD_Menu {
  width: 100%;
}
.mainContainer .customD_Menu >div{
  border-color: hsl(0,0%,80%) !important;
  outline: 0;
  box-shadow:none !important
} 
.mainContainer .customD_Menu div:hover{
  border-color: hsl(0,0%,80%) !important;
  box-shadow: none;
  outline: 0;
}
.gridfillter-container .fillter-status-container .datepickerContainer.proForm {
  display: block;
}
.filterHidden {
  transition: all 0.4s ease-in-out;
  max-height: 250px;
}
.gridfillter-container {
  transition: all 0.4s ease-in-out;
}
.spinner {
  width: 100%;
  text-align: center;
}
.spinner > div {
  width: 12px;
  height: 12px;
  margin: 0 2px;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
/* .mainContainer .customD_Menu div {
  padding: 0;
} */
/* .mainContainer .customD_Menu div span{
  width: 0;
} */

.attachmentPage {
  width: 100%;
  margin: 0;
}
/* table th, table td {
  padding: 0px 8px !important;
  white-space: unset !important;
} */
/*
table edition
*/
.gridfillter-container .fillter-status-container .datepickerContainer.proForm {
  display: block;
}

.loginWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.loginWrapper .loginForm {
  text-align: center;
  background: #fff;
  padding: 40px;
  border-radius: 12px;
}
.loginWrapper h3 {
  color: #4382f9;
  font-size: 24px;
  font-weight: bold;
}
.loginWrapper .proForm {
  display: flex;
  flex-flow: column;
  text-align: left;
}
.loginWrapper .primaryBtn-1 {
  margin: 0 16px;
}
.loginWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.loginWrapper .loginForm {
  text-align: center;
  background: #fff;
  padding: 40px;
  border-radius: 12px;
}
.loginWrapper h3 {
  color: #4382f9;
  font-size: 24px;
  font-weight: bold;
}
.loginWrapper .proForm {
  display: flex;
  flex-flow: column;
  text-align: left;
}
.loginWrapper .primaryBtn-1 {
  margin: 0 16px;
}
.proForm .ui.input.inputDev .inputsideNote {
  right: 10px;
}
.approvalTitle {
  height: 80px;
  border-bottom: 1px solid #DADEE6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.approvalTitle h3 {
  color: #26344c;
  font-size: 26px;
}
.pError {
  position: absolute;
  left: 0;
  bottom: -14px;
  color: #e74c3c;
  font-size: 12px;
}
.fullWidthWrapper.textLeft {
  text-align: left;
}
.fullWidthWrapper.textLeft label{
  margin-bottom: 5px;
}
.dropWrapper .customProform {
  margin-top: 12px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.customD_Menu .css-1hwfws3 {
  max-height: 40px;
}
.has-error .spanValidation label {
  color: #E74C3C
}
.has-success .spanValidation label {
  color: #2AA832;
}
.customD_Menu div:first-child >div:hover {
  border-color: hsl(0,0%,80%)
}
.has-error .customD_Menu div:first-child >div  {
  border-color: #E74C3C;
}
.has-success .customD_Menu div:first-child >div  {
  border-color: #2AA832;
}
.dropWrapper .proForm .ui.input.inputDev input {
  width: 100%;
}
.dropWrapper .proForm .fillter-item-c .ui.input.inputDev {
  width: 100%;
}
.fullWidthWrapper  .inputDev.ui.input {
  width: 100%
}
.skylight-dialog >h2 {
  text-align: center;
}
.skylight-wrapper  {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  position: relative;
  z-index: 999999;
}
.skylight-wrapper .skylight-close-button {
  top: 10px !important;
}
.ReactTable .rt-tbody {
    flex: 99999 1 auto;
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: center;
    position: relative;
    z-index: 1; }
  .uploadForm.dragHover {
    border-color: #83B4FC;
    background: #E8F4FC; }
    .uploadForm.dragHover .uploadFormDiv {
      display: none; }
    .uploadForm.dragHover .dragHoverDiv {
      display: flex; }
  .uploadForm.dropHover {
    border: 3px solid #83B4FC; }
    .uploadForm.dropHover .uploadFormDiv {
      display: none; }
    .uploadForm.dropHover .dragHoverDiv {
      display: flex; }
  .uploadForm img {
    width: 80px;
    height: 64px; }
  .uploadForm .dragUpload {
    display: flex;
    align-items: center;
  }
    .uploadForm .dragUpload p {
      opacity: 0.4;
      font-size: 14px;
      font-weight: bold;
      line-height: 1.43;
      letter-spacing: -0.2px;
      color: #A8B0BF;
      margin: 0;
      margin-right: 12px;
      padding: 0;
     }
    .uploadForm .dragUpload form .inputfile {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1; }
    .uploadForm .dragUpload form label {
      font-size: 12px;
      font-weight: bold;
      line-height: 1.33;
      letter-spacing: 0.2px;
      color: #858D9E;
      padding: 0;
      overflow: visible; }

      .proForm .showPasswordArea .togglePW.activePW .hide {
        display: block;
      }
      .proForm .showPasswordArea .togglePW.activePW .show {
        display: none;
      }



      .approvalDocument {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0,0,0,0.6);
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }
      .approvalWrapper {
        width: 600px;
        box-shadow: 0 5px 15px rgba(0,0,0,.5);
        background: #fff;
        padding: 10px;
        border-radius: 4px;
      }
      .textarea-group {
        padding: 12px 16px;
        border-radius: 4px;
        margin-bottom: 8px;
      }
      .textarea-group label {
        margin-bottom: 4px;
        letter-spacing: -0.2px;
        color: #26344c;
        font-family: font-opens;
        display: block;
        font-size: 16px;
        font-weight: bold;
      }
      .approvalTitle {
        height: 80px;
        border-bottom: 1px solid #DADEE6;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .approvalTitle h3 {
        color: #26344c;
        font-size: 26px;
      }
      .textarea-group textarea {
        overflow: auto;
        width: 100%;
        min-height: 100px;
        border-radius: 4px;
        border: 1px solid #DADEE6;
        padding: 10px;
      }
.gridfillter-container .fillter-status-container .datepickerContainer.proForm {
  display: block;

}
.ui.modal{
  display:  block !important;
}
.sidebar__inner {
  position: fixed;
  height: 100%;
  top: 0;
  z-index: 9999;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: 0px 5px 12px #888888;
}
.EastWestProject  ul {
  max-height: 1150px;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
}
.EastWestProject ul.closeAccordion {
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s ease-in-out
}
.mainSide .mainSideNav .mainSidenavContent {
  height: 100%;
}
.mainSide .mainSideNav .mainSidenavContent {
  height: 100%;
  overflow: auto !important;
  box-shadow: 0px 5px 12px #888888;
}
.mainSide .mainSideNav .mainSidenavContent::-webkit-scrollbar {
  width: 0;
}
.sidebar__inner::-webkit-scrollbar {
  width: 0;
}

.ui.modal{
  display:  block !important;
}

.workFlowStep .StepNumber.approvalstep .StepNum .StepN {
  display: block !important;
}
.customDatepicker {
  width: auto !important;
  margin-right: 0 !important;
}
.gridfillter-container .fillter-status-container .datepickerContainer.proForm {
  margin-right: 0 !important;
} 
 
/* .gridfillter-container .fillter-status-container .fillter-item-c {
    margin-bottom: 0px !important;
}  */
.form-group.fillterinput.fillter-item-c .fillter-status.fillter-item-c {
  margin-bottom: 0 !important
}
/*.UserImg .dropdownContent .menu.center.left{
  display: none;
}
.UserImg .dropdownContent.active .menu.center.left{
  display: block !important;
}*/
.UserImg .dropdownContent .menu.center.left{
  display: none;
  min-width: 185px !important;
}
.UserImg .dropdownContent.active .menu.center.left{
  display: block !important;
}
.UserImg .dropdownContent .item .ui.checkbox.radio.radioBoxBlue {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.UserImg .dropdownContent .item .ui.checkbox.radio.radioBoxBlue label{
  font-size: 12px;
  padding-left: 24px;
  cursor: pointer;
}
.rodal {
  z-index: 9999999 !important;
}
.logOutMsg .contentName {
  padding-bottom: 40px;
    display: block;
}
.SummeriesContainer .SummeriesContainerContent {
    padding: 0;
    padding-top: 50px;
}
.SummeriesContainer .SummeriesContainerContent .summerisItem .content {
  width: 230px;
  padding: 0 20px;
}
.SummeriesContainer .SummeriesContainerContent .summerisItem .content .number sub {
    position: absolute;
    bottom: 15px;
    right: 12px;
    font-size: 12px;
}
.SummeriesContainer .SummeriesContainerContent .summerisItem:before {
bottom: -59px;
top: -15px;
z-index: 3;
}
.SummeriesContainer .SummeriesContainerContent .summerisItem .content .title {
height: 50px;
overflow: hidden;
display: flex;
align-items: center;
text-transform: capitalize
}
.react-tabs__tab {
  padding: 15px !important;
  border-bottom: 3px solid transparent !important;
}
.react-tabs__tab--selected {
  background: #edf0f2 !important;
  border: 1px solid transparent !important;
  color: black !important;
  border-radius: 0 !important;
  padding: 15px !important;
  border-bottom: 3px solid #3570E6 !important;
}
.react-tabs__tab-list {
  border-bottom: 1px solid #e6e6e6 !important;
  padding: 0 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 0 !important;
  background: #fff !important;
  top: 72px !important;
  overflow: hidden !important;
  z-index: 14 !important;
  position: sticky !important;
  width: 100% !important
}
.fileContainer .uploadPictureContainer{
  width: 150px !important;
  height: 80px !important;
}
.singleUploadForm {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 115px;
  border-radius: 4px;
  background-color: #FAFBFC;
  border: 4px dashed #E9ECF0;
  margin-bottom: 29px;
  position: relative;
}
.singleDragText {
  cursor: pointer;
  width: 100%;
  flex-shrink: 1;
  position: absolute;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 100px;
}
.singleDragText p{
  opacity: 0.4;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.43;
  letter-spacing: -0.2px;
  color: #A8B0BF;
  margin-right: 12px;
}
.singleDragText button:first-of-type {
  margin-right: 10px;
}
.singleDragText p span{
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.2px;
  color: #3E4352;
}
.singleUploadForm aside {
    width: 40%;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    margin:0 !important;
    flex-flow: column !important;
  }
  /* .singleUploadForm aside >div {
    max-height: 70px;
  } */
  .uploadedName {
    display: flex;
    flex-flow: row;
    margin-bottom: 5px;
}
.uploadedName p {
  max-width: 190px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.removeBtn {
  position: absolute;
  z-index: 10;
  right: 15px;
}
.thumbsContainer {
  display: 'flex';
  flex-direction: 'row';
  flex-Wrap: 'wrap';
  margin-Top: 16
}
.thumb {
  display: 'inline-flex';
  border-radius: 2;
  border: '1px solid #eaeaea';
  margin-Bottom: 8;
  margin-Right: 8;
  width: 100;
  height: 100;
  padding: 4;
  box-Sizing: 'border-box'
}

.thumbInner{
  display: 'flex';
  min-Width: 0;
  overflow: 'hidden'
}

 .img  {
  display: 'block';
  width: 'auto';
  height: '100%'
}

.disNone {
  display: none;
}
.resetPassword .spinner > div {
  background-color: rgb(198, 217, 253);
}
.animationBlock {
  animation: opacity 3s linear;
  transition: all 0.3s ease-in-out;
  animation-fill-mode: forwards;
  position: relative;
  z-index: 999999;
}
.primaryBtn-1 .spinner > div {
  background-color: rgb(198, 217, 253);
}
@keyframes opacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.resetPassword {
  position: relative;
}

.resetPassword .inputPassContainer label {
  width: 130px;
  text-align: right;
  flex-shrink: 0;
}
.resetPassword .inputPassContainer {
  display: flex;
  width: 100%;
}
.resetPassword  .ui.input.inputDev, .resetPassword .ui.input.inputDev input {
  width: 100% !important;
}
 .notifiActionsContainer{
  position: fixed;
  top: 40px;
  right: 40px;
  max-width: 500px;
  width: auto;
  min-width: 300px;
  height: 50px;
  z-index: 99999999; 
}
.rodal .notifiActionsContainer {
  top: 30px;
}
.flexForm {
  display: flex !important;
  align-items: center;
  width: 100%;
}
.flexForm label {
  margin-right: 15px;
}
.dashboardLoading {
  position: fixed;
  top: 153px;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 20;
}
.cutome__inputs .dashboardLoading {
  position: fixed !important;
}
.dashboardLoading span {
    width: 64px;
    height: 64px;
    border: 3px solid #A8B0BF;
    border-bottom-color: transparent;
    border-radius: 50%;
    animation: rotate 1s linear infinite;
  }
.dashboardLoading h3 {
    font-family: font-b;
    font-size: 45px;
    line-height: 1.16;
    letter-spacing: -1.1px;
    color: #252833;
    margin-top: 36px;
  }
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
   }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
  }
  .ui.modal.smallModal {
    max-width: 430px;
    padding: 0;
}
.rodal .modal .actions button:nth-child(2) {
  margin-left: 10px;
}
.ui.modal>.actions {
  border-top: none !important;
}

.numcursor{
  cursor: pointer;
} 
.panel {
    margin-bottom: 25px;
}
.App.react-tabs__tab-panel--selected {
  padding-top: 35px;
}
.a7medImg {
  overflow: hidden;
  max-width: 150px;
  max-height: 150px;
}
.a7medImg img {
  width: 100%;
}
.thumbStyle {
  display: inline-flex;
  border-radius: 2px;
  border: 1px solid #eaeaea;
  margin-bottom: 8px;
  margin-right: 8px;
  width: 150px;
  height: 150px;
  padding: 1px;
  box-sizing: border-box
}
.thumbInnerStyle {
  display: flex;
  overflow: hidden
}
.imgStyle {
  display: block;
  width: auto;
  height: 100%
}
.highcharts-container {
    margin: auto;
  } 
.sayedWrapper {
  position: relative;
}
.grid-container {
  min-height: 650px;
}
/**/
.customD_Menu .css-vj8t7z {
  z-index: 12;
}
.customD_Menu .css-15k3avv {
  z-index: 155;
}
.approveReject {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 -3px 6px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  margin-bottom: 20px;
  padding: 35px 20px;
  border-radius: 5px;
}
.approveReject h3 {
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.6px;
  color: #252833;
  font-family: font-xb;
  text-transform: uppercase;
  margin: 0;
}
.reject_approve {
  display: flex;
  justify-content: center;
  align-items: center;
}
.reject_approve button:first-child {
  margin-right: 20px;
}
.customD_Menu {
  width: 100%;
  /* position: relative;
  z-index: 12; */
}
.fullColumn {
  background: #5E6475;
}
.fullColumn .contentCell a {
  color: #e9edf2 !important;
}
tfoot tr {
  height: 40px;
  background-color: #A8B0BF
}
tfoot tr td p{
  padding-left: 20px;
  font-size: 15px;
  font-weight: bold;
}
.noPadding {
  padding-left:0;
  padding-right: 0; 
}
.timeSheetInput .fillter-item-c {
  margin-bottom: 20px;
}
.timeSheetInput .fillter-item-c .spanValidation,.timeSheetInput .fullWidthWrapper label {
  margin-bottom: 10px;
  display: block;
}
.customD_Menu .css-vj8t7z {
  z-index: 12;
}
.customD_Menu .css-15k3avv {
  z-index: 155;
}
.table__inputs {
  display: flex;
}
.table__inputs .halfWindow{
  width: 37%;
  margin-right: 30px;
}
.table__inputs .tableWindow{
    width: 60%;
}
.taskInfo .incomingInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px 10px 10px;
  border: 1px solid #e9edf2;
  border-top: none;
}
.taskInfo .incomingInfo:first-of-type {
  border-top: 1px solid #e9edf2
}
.taskInfo .incomingInfo a {
  font-size: 16px;
  color: #5E6475;
}
.taskInfo {
  max-height: inherit;
}
.taskInfo.taskMaxHeight {
  transition: all 0.3s ease-in-out;
  max-height: 0;
  overflow: hidden;
}
.collapseIcon {
  overflow: hidden;
  display: block;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 20px 0;
}
.collapseIcon .plusSpan {
  width: 18px;
  height: 18px;
  margin-right: 5px;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
.collapseIcon .greenSpan {
  background-color: #356e35;
}
.collapseIcon .redSpan {
  background-color: #a90329;
}
.table__inputs .halfWindow .proForm .inputDev{
  width: 100%;
  margin: 0 0 20px;
}
.table__inputs .halfWindow .proForm .inputDev input{
  width: 100%;
}
.table__inputs .halfWindow label {
  margin-bottom: 10px;
  display: block;
}
.taskAdminTable {
  border-spacing: 0;
  border: 1px solid #DADEE6;
  width: 100%;
}
.taskAdminTable thead {
  text-align: left;
}
 
.taskAdminTable thead tr th{
  border-right: 1px solid #DADEE6;
  border-bottom: 1px solid #DADEE6;
  padding: 10px;
}
.taskAdminTable thead tr th:first-of-type{
  border-left: 1px solid #DADEE6;
}
.taskAdminTable thead tr th:last-of-type{
  border-right: none;
}
.taskAdminTable tbody tr td {
  border-right: 1px solid #DADEE6;
  border-bottom: 1px solid #DADEE6;
  border-left: none;
  padding: 10px;
}
.taskAdminTable tbody tr td:first-of-type {
  border-left: 1px solid #DADEE6; 
}
.taskAdminTable tbody tr td:last-of-type {
  border-right: none #DADEE6;
  border-bottom: 1px solid #DADEE6;
}
.documents-stepper .doc-container .step-content.fullWidthContent {
  width: 100%;
}
.submittalActions__add {
  background-color: transparent;
  align-items: center;
  width: 25%;
  border-left: 1px solid #e9ecf0;
  height: 100vh;
  flex-shrink: 0;
}
.submittalActions__add header {
  border-bottom: 1px solid #e9ecf0;
  padding: 21.3px 0;
  text-align: center;
  margin-bottom: 28px;
  height: 72px;
}
.submittalActions__add .customD_Menu >div , .submittalActions__add .customD_Menu div:hover{
  border-color: transparent !important;
  color: black !important;
}
.submittalActions__add .css-vj8t7z {
  border-color: transparent !important;
  background: #E9ECF0;
}
.submittalActions__add .css-19bqh2r {
  display: inline-block;
  fill: black;
  line-height: 1;
  stroke: currentColor;
  stroke-width: 0;
}
.submittalActions__add .css-d8oujb {
  display: none;
}
.submittalActions__add .css-1hwfws3 {
  justify-content: center;
}
.submittalActions__add .css-1hwfws3 .css-1492t68 {
  color: rgba(0,0,0,.87);
  font-size: 14px;
  font-weight: bold;
}
.skylight-dialog{
  max-height: 600px;
  overflow-y: auto;
} 
.proForm .linebylineInput.alternativeDate .customDatepicker.fillter-status.fillter-item-c {
  margin-right: 40px !important;
}
.icon__btn {
  background: transparent;
  border: 1px solid transparent;
  transition: all 0.3s ease;
  padding: 7px;
}
.icon__btn i {
  color: #A8B0BF;
  font-size: 20px;
  transition: all 0.3s ease;
}
.icon__btn:hover i {
  color: #3570E6;
}
.activeBtnCheck {
  margin: 0 10px;
}
.activeBtnCheck i {
  font-size: 20px;
}
.filterBTNS {
  display: flex;
} 
.react-grid-Cell--frozen:last-of-type {
  box-shadow: 2px 0 5px -2px hsla(0,0%,53%,.3);
}
.card-status .MultiPeinding {
  display: flex;
  margin: 0 2px; 
}
.workFlowStep .StepNumber.approvalstep .StepNum p.StepN {
  color: #fff
}
.attachmentTable tbody tr .contentCell.tableCell-4 {
  max-width: 185px
} 
.daysCheckbox .ui.checkbox {
  margin: 0 10px;
}
.daysCheckbox .ui.checkbox:first-of-type {
  margin-left: 0;
}
.daysCheckbox .ui.checkbox:last-of-type {
  margin-right: 0;
} 
.settings-tabs-items .react-tabs__tab-list {
  border-bottom: 1px solid #e6e6e6 !important;
  padding: 0 !important;
  display: flex !important;
  flex-flow: column;
  justify-content: center !important;
  align-items: flex-start !important;
  padding: 0 !important;
  background: #fff !important;
  overflow: hidden !important;
  z-index: 14 !important;
  position: unset !important;
}
.settings-tabs-items .react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
}
.settings-tabs-items .react-tabs__tab {
  padding: 0 !important;
  border-bottom: 0 solid transparent !important;
  border-left: 6px solid transparent !important;
  padding-left: 34px !important;
  width: 100%;
}
.settings-tabs-items .react-tabs__tab--selected {
  border: 0 solid transparent !important;
  padding: 0 !important;
  border-bottom: 0 solid #3570E6 !important;
  border-left: 6px solid #4382f9 !important;
  background-color: #E9ECF0 !important;
  padding-left: 34px !important;
}
.dropBtn {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}
.dropBtn .border {
  display: block;
  width: 1px;
  height: 40px;
  background-color: #e9ecf0;
  margin: 0 24px;
}
.dropdownMulti .customD_Menu .css-1hwfws3 {
  max-height: inherit;
}
.dropdownMulti .fillter-status.fillter-item-c {
  display: flex;
}
.dropdownMulti .fillter-status.fillter-item-c .spanValidation { 
  width: 130px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 15px;
}
.dropdownMulti .fillter-status.fillter-item-c >div:last-of-type {
  width: 100%;
} 
.label__block label {
  display: block;
}
.label__block .inputDev {
  width: 100%;
}
.spanValidation {
  margin-bottom: 10px;

}
/* noTabs */ 
.noTabs__document .submittalHead {
  justify-content: center;
  padding-left: 0;
  z-index: 2; }
.noTabs__document .doc-container {
  background: #fff;
  flex-flow: column; }
  .noTabs__document .doc-container .main__header {
    width: 100%;
    padding: 0;
    border-bottom: 1px solid #e9ecf0; }
    .noTabs__document .doc-container .main__header .main__header--div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: space-between;
      width: 75%;
      margin: 0 auto;
      height: 72px; }
      @media screen and (max-width: 1250px) {
        .noTabs__document .doc-container .main__header .main__header--div {
          width: 91%; } }

    .noTabs__document .doc-container .main__header h2 {
      font-family: font-b;
      font-size: 20px;
      line-height: 1.4;
      letter-spacing: -0.2px;
      color: #252833; }
    .noTabs__document .doc-container .main__header p {
      font-family: font-opens;
      font-size: 12px;
      line-height: 1.33;
      letter-spacing: -0.2px;
      color: #a8b0bf;
      /* width: 100%; */
      text-align: right; }
  .noTabs__document .doc-container .step-content {
    width: 75%;
    border-right: 0;
    background-color: #ffffff;
    margin: auto;
    display: block;
    margin: 0 auto;
    padding-bottom: 70px; }
    @media screen and (max-width: 1250px) {
      .noTabs__document .doc-container .step-content {
        width: 91%; } }
















    .noTabs__document .doc-container .step-content .document-fields {
      padding: 14px 0; }
      .noTabs__document .doc-container .step-content .document-fields .proForm.datepickerContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 0;
      }
      .noTabs__document .doc-container .step-content .document-fields .proForm.first-proform {
        display: flex;
        justify-content: space-between;
        padding-right: 0;
        flex-wrap: wrap;
        align-items: center; }
        .noTabs__document .doc-container .step-content .document-fields .proForm.first-proform .linebylineInput:last-of-type {
          flex-flow: row;
          margin-bottom: 0; }
      .noTabs__document .doc-container .step-content .document-fields .proForm .linebylineInput {
        margin-bottom: 16px;
        width: 43%;
        margin-right: 50px;
        flex-shrink: 0;
        flex-flow: column;
        align-items: flex-start; }
        .noTabs__document .doc-container .step-content .document-fields .proForm .linebylineInput > label {
          width: auto;
          text-align: left;
          margin-right: 32px;
          font-family: font-opensb;
          font-size: 14px;
          line-height: 1.43;
          letter-spacing: -0.2px;
          color: #252833;
          margin-bottom: 4px; }
        @media screen and (max-width: 1250px) {
          .noTabs__document .doc-container .step-content .document-fields .proForm .linebylineInput.even {
            margin-right: 0; } }
    .noTabs__document .doc-container .step-content .doc-pre-cycle {
      padding: 0; }
      .noTabs__document .doc-container .step-content .doc-pre-cycle header {
        padding: 40px 0; }
        .noTabs__document .doc-container .step-content .doc-pre-cycle header h2 {
          border-bottom: 1px solid #e1e3e8;
          width: 100%;
          padding-bottom: 12px;
          padding-left: 0;
          font-family: font-r;
          font-size: 20px;
          line-height: 1.4;
          letter-spacing: -0.2px;
          color: #252833; }
      .noTabs__document .doc-container .step-content .doc-pre-cycle .slider-Btns {
        padding-top: 55px;
        padding-left: 0; }
.noTabs__document .approveDocument {
  position: fixed;
  bottom: 0;
  right: 40px;
  left: 130px;
  z-index: 19;
  height: 72px;
  border-radius: 3px;
  box-shadow: 0 -3px 6px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .noTabs__document .approveDocument .spanValidation{
    margin: 0;
  }
  .noTabs__document .approveDocument h2 {
    flex: 0.5;
    line-height: 1.17;
    letter-spacing: -0.5px;
    color: #252833;
    opacity: 0.3;
    font-family: font-b; }
  .noTabs__document .approveDocument .approveDocumentBTNS {
    flex: 1.5;
    display: flex;
    justify-content: flex-end; }
    .noTabs__document .approveDocument .approveDocumentBTNS .border {
      display: block;
      width: 1px;
      height: 40px;
      background-color: #e9ecf0;
      margin: 0 24px; }
    .noTabs__document .approveDocument .approveDocumentBTNS .middle__btn {
      margin: 0 6px; }





/* new css notabs */
      .noTabs__document .doc-container  .step-content .linebylineInput .fillter-status.fillter-item-c label{
        width: auto;
        text-align: left;
        margin-right: 32px;
        font-family: font-opensb;
        font-size: 14px;
        line-height: 1.43;
        letter-spacing: -0.2px;
        color: #252833;
        margin-bottom: 4px;
        }
        .noTabs__document .doc-container  .step-content .linebylineInput .fillter-status.fillter-item-c .customD_Menu {
        width: 360px;
       }
       .noTabs__document .doc-container .step-content .linebylineInput .proForm.datepickerContainer {
        margin: 0;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-flow: column;
      }
      .noTabs__document .doc-container .step-content  .linebylineInput .proForm.datepickerContainer .linebylineInput {
        margin-bottom: 0 !important;
      }
      .noTabs__document .doc-container .step-content .document-fields .customDatepicker .proForm .linebylineInput .inputDev.ui.input.input-group.date.NormalInputDate {
        width: 192px;
      }
/* new css notabs */
/* noTabs */ 

.document__action--menu .customD_Menu .css-vj8t7z {
  background: #E9ECF0;
  border: 1px solid #E9ECF0;
}
.document__action--menu .customD_Menu .css-1hwfws3 {
  min-width: 135px;
  text-align: center;
}
.document__action--menu .customD_Menu .css-xp4uvy {
  color: #5E6475;
  font-size: 15px;
  font-weight: 800;
  max-width: calc(100% - 8px);
  width: 100%;
}
.document__action--menu .customD_Menu .css-10nd86i .css-15k3avv {
    height: 200px;
    overflow-y: auto;
    top: -210px;
} 
.document__action--menu .skylight-wrapper .skylight-dialog .customD_Menu .css-10nd86i .css-15k3avv {
    height: auto;
    overflow-y: auto;
    top: 100%;
} 
.shareLinks {
  width: 100%;
  display: flex;
  align-items: center;
}
.shareLinks a {
  font-family: font-opensb;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: -0.3px;
  color: #4382f9;
  text-decoration: underline;
  margin-left: 15px;
  cursor: pointer;
}


/* sayed step page */

.one__tab {
  padding-bottom: 90px; }
  .one__tab .submittalHead {
    justify-content: center;
    padding-left: 0;
    z-index: 2; }
  .one__tab .doc-container {
    background: #fff;
    flex-flow: row; }
    .one__tab .doc-container .docstepper-levels {
      border-left: 1px solid #eef5ff; }
    .one__tab .doc-container .subiTabsContent > header.main__header {
      padding: 0; }
      .one__tab .doc-container .subiTabsContent > header.main__header .main__header--div {
        width: 100%;
        margin: 0 auto;
        height: 72px; }
    .one__tab .doc-container .subiTabContainer {
      width: 70%;
      flex-flow: column; }
      @media screen and (max-width: 1200px) {
        .one__tab .doc-container .subiTabContainer {
          width: 78%; } }
      .one__tab .doc-container .subiTabContainer .main__header {
        height: 72px;
        display: flex;
        align-items: center;
        padding: 0 56px; }
      .one__tab .doc-container .subiTabContainer .step-content {
        width: 100%;
        padding: 0 57px; }
        .one__tab .doc-container .subiTabContainer .step-content.activeTab {
          display: none; }
        .one__tab .doc-container .subiTabContainer .step-content .doc-infohead {
          font-family: font-opens;
          font-size: 12px;
          line-height: 1.33;
          letter-spacing: -0.2px;
          color: #a8b0bf;
          width: 100%;
          margin-bottom: 32px; }
        .one__tab .doc-container .subiTabContainer .step-content .document-fields {
          padding: 14px 0; }
          .one__tab .doc-container .subiTabContainer .step-content .document-fields .subitTabs {
            width: 24%;
            height: 100vh;
            border-right: 1px solid #e9ecf0; }
          .one__tab .doc-container .subiTabContainer .step-content .document-fields .proForm .linebylineInput {
            margin-right: 0; }
            .one__tab .doc-container .subiTabContainer .step-content .document-fields .proForm .linebylineInput .ui.input.inputDev {
              width: 100%;
              padding: 0; }
              .one__tab .doc-container .subiTabContainer .step-content .document-fields .proForm .linebylineInput .ui.input.inputDev input {
                width: 100%; }
    .one__tab .doc-container .doc-pre-cycle {
      padding: 0; }
      .one__tab .doc-container .doc-pre-cycle header {
        padding: 40px 0; }
        .one__tab .doc-container .doc-pre-cycle header h2 {
          border-bottom: 1px solid #e1e3e8;
          width: 100%;
          padding-bottom: 12px;
          padding-left: 0;
          font-family: font-r;
          font-size: 20px;
          line-height: 1.4;
          letter-spacing: -0.2px;
          color: #252833; }
      .one__tab .doc-container .doc-pre-cycle .slider-Btns {
        padding-top: 55px;
        padding-left: 0; }
  .one__tab .approveDocument {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 19;
    height: 72px;
    border-radius: 3px;
    box-shadow: 0 -3px 6px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding: 0 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .one__tab .approveDocument h2 {
      flex: 0.5;
      line-height: 1.17;
      letter-spacing: -0.5px;
      color: #252833;
      opacity: 0.3;
      font-family: font-b; }
    .one__tab .approveDocument .approveDocumentBTNS {
      flex: 1.5;
      display: flex;
      justify-content: flex-end; }
      .one__tab .approveDocument .approveDocumentBTNS .border {
        display: block;
        width: 1px;
        height: 40px;
        background-color: #e9ecf0;
        margin: 0 24px; }
      .one__tab .approveDocument .approveDocumentBTNS .middle__btn {
        margin: 0 6px; }
  .one__tab.one_step .doc-container .step-content {
    width: calc(100% - 250px); }
    .one__tab.one_step  .doc-container .docstepper-levels {
      width: 250px;
      position: relative;
  }
    .one__tab.one_step .doc-container .step-content .main__header {
      padding-left: 110px;
      padding-right: 80px; }
      @media screen and (max-width: 1300px) {
        .one__tab.one_step .doc-container .step-content .main__header {
          padding-left: 35px;
          padding-right: 20px; } }
    .one__tab.one_step .doc-container .step-content .document-fields {
      padding-left: 110px;
      padding-right: 80px; }
      @media screen and (max-width: 1300px) {
        .one__tab.one_step .doc-container .step-content .document-fields {
          padding-left: 35px;
          padding-right: 20px; } }
      .one__tab.one_step .doc-container .step-content .document-fields .proForm .linebylineInput {
        margin-right: 0; }
        @media screen and (max-width: 1200px) {
          .one__tab.one_step .doc-container .step-content .document-fields .proForm .linebylineInput input {
            width: 100%; } }
      @media screen and (max-width: 1200px) {
        .one__tab.one_step .doc-container .step-content .document-fields .proForm.first-proform {
          flex-flow: column;
          align-items: flex-start; } }
      @media screen and (max-width: 1200px) {
        .one__tab.one_step .doc-container .step-content .document-fields .proForm.first-proform .linebylineInput {
          width: 77%; } }
      .one__tab.one_step .doc-container .step-content .document-fields .proForm.first-proform .linebylineInput input {
        width: 300px; }
        @media screen and (max-width: 1200px) {
          .one__tab.one_step .doc-container .step-content .document-fields .proForm.first-proform .linebylineInput input {
            width: 360px; } }
    .one__tab.one_step .doc-container .step-content .doc-pre-cycle {
      padding-left: 110px;
      padding-right: 80px; }
      @media screen and (max-width: 1300px) {
        .one__tab.one_step .doc-container .step-content .doc-pre-cycle {
          padding-left: 35px;
          padding-right: 20px; } }


/* sayed step page */
@media screen and (max-width: 1200px) {
  .noTabs__document .approveDocument h2 {
    flex: 0.2 1;
  }
}

/* 
.readOnly_inputs .doc-container .step-content .document-fields .proForm.datepickerContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
.readOnly_inputs .doc-container .step-content .document-fields .proForm.first-proform {
  display: flex;
  justify-content: space-between;
  padding-right: 0;
  flex-wrap: wrap;
  align-items: center; }
  .readOnly_inputs .doc-container .step-content .document-fields .proForm.first-proform .linebylineInput:last-of-type {
    flex-flow: row;
    margin-bottom: 0; }
.readOnly_inputs .doc-container .step-content .document-fields .proForm .linebylineInput {
  margin-bottom: 16px;
  width: 43%;
  margin-right: 50px;
  flex-shrink: 0;
  flex-flow: row;
  align-items: center; }
  .readOnly_inputs .doc-container .step-content .document-fields .proForm .linebylineInput label {
    width: 130px;
    position: relative;
    flex-shrink: 0;
    font-family: font-openb;
    text-align: right; }
    @media screen and (max-width: 1200px) {
      .readOnly_inputs .doc-container .step-content .document-fields .proForm .linebylineInput label {
        width: 86px;
        position: relative;
        flex-shrink: 0;
        font-family: font-openb;
        font-size: 12px; } }
    .readOnly_inputs .doc-container .step-content .document-fields .proForm .linebylineInput label::after {
      content: ' : ';
      position: absolute;
      right: -20px;
      font-size: 14px; } */
  .readOnly_inputs .doc-container .step-content .document-fields .proForm .linebylineInput .ui.input.inputDev input {
    /* background: transparent;
    border-color: transparent; */
    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none;
    cursor: not-allowed;
    /*padding: 0;*/ 
  }

    .readOnly_inputs .doc-container .step-content .linebylineInput .fillter-status.fillter-item-c .customD_Menu {
      -webkit-pointer-events: none;
      -moz-pointer-events: none;
      -ms-pointer-events: none;
      pointer-events: none;
    }
/*     
    .readOnly_inputs .doc-container .step-content .document-fields .proForm .linebylineInput .ui.input.inputDev input:hover {
      border-color: transparent; }
    .readOnly_inputs .doc-container .step-content .document-fields .proForm .linebylineInput .ui.input.inputDev input:focus {
      border-color: transparent; }
  @media screen and (max-width: 1200px) {
    .readOnly_inputs .doc-container .step-content .document-fields .proForm .linebylineInput.even {
      margin-right: 0; } } */
