sayed exp 
*/
*, :after, :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.ui.radio.checkbox{min-height:15px}
.ui.checkbox {
  position: relative;
  display: inline-block;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  outline: none;
  vertical-align: baseline;
  font-style: normal;
  min-height: 17px;
  font-size: 1rem;
  line-height: 22px;
  min-width: 17px;
}
.ui.checkbox input.hidden {
    z-index: -1;
}
.ui.checkbox input[type=checkbox],.ui.checkbox input[type=radio]{
    cursor:pointer;
    position:absolute;
    top:0;
    left:0;
    opacity:0!important;
    outline:0;
    z-index:3;
    width:17px;
    height:17px
}
.ui.checkbox input.hidden+label{
    cursor:pointer;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
.ui.checkbox .box, .ui.checkbox label {
    cursor: auto;
    position: relative;
    display: block;
    padding-left: 1.85714em;
    outline: 0;
    font-size: 1em;
}
.ui.checkbox .box:before, .ui.checkbox label:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    content: '';
    background: #fff;
    border-radius: .21428571rem;
    -webkit-transition: border .1s ease,opacity .1s ease,-webkit-transform .1s ease,-webkit-box-shadow .1s ease;
    transition: border .1s ease,opacity .1s ease,-webkit-transform .1s ease,-webkit-box-shadow .1s ease;
    transition: border .1s ease,opacity .1s ease,transform .1s ease,box-shadow .1s ease;
    transition: border .1s ease,opacity .1s ease,transform .1s ease,box-shadow .1s ease,-webkit-transform .1s ease,-webkit-box-shadow .1s ease;
    border: 1px solid #d4d4d5;
}
.ui.radio.checkbox .box:before, .ui.radio.checkbox label:before {
    content: '';
    -webkit-transform: none;
    transform: none;
    width: 15px;
    height: 15px;
    border-radius: 500rem;
    top: 1px;
    left: 0;
}
.ui.checkbox .box:after, .ui.checkbox label:after {
    position: absolute;
    font-size: 14px;
    top: 0;
    left: 0;
    width: 17px;
    height: 17px;
    text-align: center;
    opacity: 0;
    color: rgba(0,0,0,.87);
    -webkit-transition: border .1s ease,opacity .1s ease,-webkit-transform .1s ease,-webkit-box-shadow .1s ease;
    transition: border .1s ease,opacity .1s ease,-webkit-transform .1s ease,-webkit-box-shadow .1s ease;
    transition: border .1s ease,opacity .1s ease,transform .1s ease,box-shadow .1s ease;
    transition: border .1s ease,opacity .1s ease,transform .1s ease,box-shadow .1s ease,-webkit-transform .1s ease,-webkit-box-shadow .1s ease;
}
.ui.radio.checkbox .box:after, .ui.radio.checkbox label:after {
    border: none;
    content: ''!important; 
    line-height: 15px;
}
.ui.radio.checkbox .box:after, .ui.radio.checkbox label:after {
    top: 1px;
    left: 0;
    width: 22px;
    height: 22px;
    border-radius: 500rem;
    -webkit-transform: scale(.46666667);
    transform: scale(.46666667);
    background-color: rgba(0,0,0,.87);
}
.ui.checkbox input:checked~.box:after, .ui.checkbox input:checked~label:after {
  content: '\e800';
  opacity: 1;
}
/* 
sayed exp
*/
.ui.selection.dropdown.singleDropDown {
    transform: none;
  }
.ui.modal {
  display: block
}
.rodal-dialog {
  padding: 0;
  background: transparent;
  display: flex;
  border-radius: .28571429rem; 
  justify-content: center;
  align-items: center;
}
/*# sourceMappingURL=layout.css.map */
  /* new css */
  .dropWrapper .ui.selection.dropdown {
    border: none;
  }
  .dropWrapper .ui.selection.dropdown:hover {
    border: none;
}
 .dropWrapper .menu.transition.hidden {
    min-width: 100%;
  }
 .dropWrapper .ui.selection.dropdown.singleDropDown {
    padding: 4px 0;
}
.dropWrapper .borderError .css-1aya2g8 {
  border: 1px solid #d13e2e
}
.dropWrapper .borderValid .css-1aya2g8 {
  border: 1px solid #2AA832;
}
.dropWrapper .fillter-item-c {
  min-width: 45%;
  margin-bottom: 10px;
}
.dropWrapper .filterWrapper {
  width: 100%;
}
.dropWrapper .filterWrapper .fillter-item-c {
  width: 100%;
  margin-top: 10px
}
.dropWrapper .filterWrapper .fillter-item-c .ui.selection.dropdown.singleDropDown {
  height: auto;
}
.dropWrapper .css-d8oujb {
  width: 0 !important
}
.dropWrapper .css-19bqh2r {
  width: 15px;
  height: 18px;
}
.dropWrapper .inputDev.ui.input {
  padding: 4px 0;
}
.dropWrapper #lastname1 {
  background-color: hsl(0,0%,98%);
  border: 1px solid  hsl(0,0%,80%);
  min-height: 35px;
  outline: 0 !important;
  transition: all 100ms;
  min-width: 100%;
  padding-left: 10px;
  border-radius: 4px
}
.dropWrapper {
  padding: 25PX;
  display: flex;
  justify-content: space-between;
  width: 730px;
  flex-wrap: wrap;
}
.dropWrapper .customD_Menu {
  width: 100%
} 
.dropWrapper .dropBtn {
  text-align: center;
  margin-top: 30px;
  width: 100%;
}
.dropWrapper .spanValidation {
  display: flex;
  justify-content: space-between;
}
.dropWrapper .spanValidation span{
  padding: 1px;
  border-radius: 3px;
  background: #f3e0e0;
  border: 1px solid #f6e2e3;
  font-size: 14px;
  color: #9da3b1;
}
.dropWrapper .fullWidthWrapper {
  width: 100%;
  text-align: center;
  margin: 20px 0;
}
.dropWrapper .fullWidthWrapper.textLeft{
  width: 100%;
  text-align: left;
  margin: 20px 0;
}
.dropWrapper .color.color {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  font-size: 15px;
  font-weight: 600;
  padding: 10px 10px 10px 5px;
  border-bottom: 1px solid #ebebeb!important;
  border: none;
  box-sizing: border-box;
  margin-top: 22px;
  box-shadow: none;
  font-family: Open Sans,sans-serif;
}
.customDatepicker .proForm .linebylineInput .inputDev.ui.input.input-group.date.NormalInputDate {
  width: 100%
}
.customDatepicker .proForm .linebylineInput .inputDev.ui.input.input-group.date.NormalInputDate >div{
  position: relative;
}
.customDatepicker .proForm .linebylineInput .inputDev.ui.input.input-group.date.NormalInputDate >div >div{
  z-index: 9;
}
.customDatepicker .proForm .linebylineInput .inputDev.ui.input.input-group.date.NormalInputDate >div::after{
  content: '';
  position: absolute;
  background-image: url(../../images/icons/date-pickericon.svg);
  right: 10px;
  background-size: 100% 100%;
  width: 16px;
  height: 16px;
  top: 10px;
  z-index: 0;
}
.customDatepicker .proForm .linebylineInput input {
  width: 100% !important;
  text-align: left;
  height: 40px;
  border-radius: 4px;
  border: solid 1px #DADEE6;
  font-family: font-opens;
  letter-spacing: -0.2px;
  color: #3E4352;
  background-color: #ffffff;
  font-size: 14px;
  outline: 0;
  padding: .67857143em 1em;
}
.twoLineHeader {
  position: relative;
  display: inline-block;
}
.twoLineHeader::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: #4382f9;
  right: -70px;
  top: 12px;
}
.twoLineHeader::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: #4382f9;
  left: -70px;
  top: 12px;
}
.deleteImg {
  width: 16px;
  height: 16px
}
/* 
table edition
*/
.dropWrapper .fullWidthWrapper table {
  border-spacing: 0;
}
.dropWrapper .fullWidthWrapper table thead tr th, .dropWrapper .fullWidthWrapper table tbody tr td{
  border: 1px solid #cccccc;
  border-left-width: 0;
  border-bottom-width: 0;
}
.dropWrapper .fullWidthWrapper table thead tr th, .dropWrapper .fullWidthWrapper table tbody tr:last-of-type td{
  border-bottom-width: 1px;
}
.dropWrapper .fullWidthWrapper table thead tr th:first-of-type, .dropWrapper .fullWidthWrapper table tbody tr td:first-of-type {
  border-left-width: 1px;
}
.fullWidthWrapper .ReactTable >div, .fullWidthWrapper .ReactTable >div .rt-tbody {
  overflow: visible;
}
.fullWidthWrapper .ReactTable >div .rt-tbody div {
  overflow: visible;
  white-space: pre-wrap;
  align-items: center;
}
.attachmentPage {
  width: 100%;
}
/* sla7 22/1/2019*/
.gridfillter-container .fillter-status-container .fillter-status {
  width: 170px;
}
.mainContainer {
  background-image: linear-gradient(to bottom,#f5f5f6 100%,#f5f5f6 26%,#fafbfc 0%,#fafbfc 0%);
}
.mainContainer .ui.fluid.selection.dropdown.singleDropDown {
  padding: 0;
}
.mainContainer .customD_Menu >div >div >div {
  padding: 0;
}
.mainContainer .customD_Menu >div >div >div >div  {
  white-space: nowrap;
  padding-left: 12px;
}
.mainContainer .customD_Menu {
  width: 100%;
}
.mainContainer .customD_Menu div{
  border-width: 0;
  outline: 0
}
.mainContainer .customD_Menu div:hover{
  border: none;
  box-shadow: none;
  outline: 0;
}
.gridfillter-container .fillter-status-container .datepickerContainer.proForm {
  display: block;
}
.filterHidden {
  transition: all 0.4s ease-in-out;
  max-height: 250px;
}
.gridfillter-container {
  transition: all 0.4s ease-in-out;
}
.spinner {
  width: 100%;
  text-align: center;
}
.spinner > div {
  width: 12px;
  height: 12px;
  margin: 0 2px;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
/* .mainContainer .customD_Menu div {
  padding: 0;
} */
/* .mainContainer .customD_Menu div span{
  width: 0;
} */
   
.attachmentPage {
  width: 100%;
  margin: 0;
}
/* table th, table td {
  padding: 0px 8px !important;
  white-space: unset !important;
} */
/* 
table edition 
*/

.attachmentPage {
  width: 100%;
  margin: 0;
}


.uploadForm {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 639px;
  height: 108px;
  border-radius: 4px;
  background-color: #FAFBFC;
  border: 3px dashed #E9ECF0;
  margin-bottom: 29px;
  position: relative; }
  .uploadForm .progressBar {
    width: 100%;
    height: 100%;
    position: absolute; }
    .uploadForm .progressBar .smallProgress {
      background-color: #d9eeff;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 0;
      z-index: 0;
      height: 100%;
      transition: all 1s ease-in-out;
    }
    .uploadForm.fullProgressBar .progressBar .smallProgress {
      width: 90%; 
    }
    .uploadForm.hundredPercent .progressBar .smallProgress {
      width: 100%; 
      transition: none;
    }
    .uploadForm.zeropercent .progressBar .smallProgress {
      width: 0; 
      transition: none;
    }
  .uploadForm .dragHoverDiv {
    display: none;
    align-items: center;
    flex-flow: column;
    justify-content: center;
    position: relative;
    z-index: 1; }
    .uploadForm .dragHoverDiv img {
      width: 64px;
      height: 64px;
      position: relative; }
  .uploadForm .uploadFormDiv {
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: center;
    position: relative;
    z-index: 1; }
  .uploadForm.dragHover {
    border-color: #83B4FC;
    background: #E8F4FC; }
    .uploadForm.dragHover .uploadFormDiv {
      display: none; }
    .uploadForm.dragHover .dragHoverDiv {
      display: flex; }
  .uploadForm.dropHover {
    border: 3px solid #83B4FC; }
    .uploadForm.dropHover .uploadFormDiv {
      display: none; }
    .uploadForm.dropHover .dragHoverDiv {
      display: flex; }
  .uploadForm img {
    width: 80px;
    height: 64px; }
  .uploadForm .dragUpload {
    display: flex; 
    align-items: center;
  }
    .uploadForm .dragUpload p {
      opacity: 0.4;
      font-size: 14px;
      font-weight: bold;
      line-height: 1.43;
      letter-spacing: -0.2px;
      color: #A8B0BF;
      margin: 0;
      margin-right: 12px;
      padding: 0;
     }
    .uploadForm .dragUpload form .inputfile {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1; }
    .uploadForm .dragUpload form label {
      font-size: 12px;
      font-weight: bold;
      line-height: 1.33;
      letter-spacing: 0.2px;
      color: #858D9E;
      padding: 0;
      overflow: visible; }

      .proForm .showPasswordArea .togglePW.activePW .hide {
        display: block;
      }
      .proForm .showPasswordArea .togglePW.activePW .show {
        display: none;
      }
      
      
      
      .approvalDocument {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0,0,0,0.6);
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }
      .approvalWrapper {
        width: 600px;
        box-shadow: 0 5px 15px rgba(0,0,0,.5);
        background: #fff;
        padding: 10px;
        border-radius: 4px;
      }
      .textarea-group {
        padding: 12px 16px;
        border-radius: 4px;
        margin-bottom: 8px;
      }
      .textarea-group label {
        margin-bottom: 4px;
        letter-spacing: -0.2px;
        color: #26344c;
        font-family: font-opens;
        display: block;
        font-size: 16px;
        font-weight: bold;
      }
      .approvalTitle {
        height: 80px;
        border-bottom: 1px solid #DADEE6;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .approvalTitle h3 {
        color: #26344c;
        font-size: 26px;
      }
      .textarea-group textarea {
        overflow: auto;
        width: 100%;
        min-height: 100px;
        border-radius: 4px;
        border: 1px solid #DADEE6;
        padding: 10px;
      } 
.gridfillter-container .fillter-status-container .datepickerContainer.proForm {
  display: block;
 
}
.ui.modal {
  display: block;
} 
/*.ui.modal{
  display:  block !important;
}*/
.ui.modal{
  display:  block !important;
}
.flexForm {
  display: flex;
  align-items: center;
  width: 100%;
}