.Elements_Breadcrumb {
    padding: 20px;
}

.backBreadcrumbBtn {
    padding-bottom: 24px;
    a {
        display: flex;
        align-items: center;
        letter-spacing: -0.2px;
        font-size: $heading6-font - 1px;
        font-family: $sans-sb;
        color: $blue-500;
        -webkit-transition: 0.3s;
        transition: 0.3s;

        svg {
            margin-#{$right}: $px-8;

        }
        &:hover {
            color: $blue-700;
                        text-decoration: underline;

            svg {
                path {
                    fill: $blue-700;

                }
            }
        }
    }
}

.ui.breadcrumb.proBreadcrumb {
    a {
        color: $blue-500;
        font-family: $sans-r;
        font-size: $heading6-font - 1px;
        letter-spacing: -0.2px;
        -webkit-transition: 0.3s;
        transition: 0.5s;
        &:hover {
            color: $blue-700;
            text-decoration: underline;

        }
    }
    .icon.divider {
        color: $blue-500;
        font-size: $heading6-font - 1px;
        margin: 0;
    }
    .active {
        color: $grey-700;
        font-size: $heading6-font - 1px;
        font-family: $sans-r;
        letter-spacing: -0.2px;

    }
}
