.Controllers-Body {
    padding: 30px;

    .ui.form {
        width: 50%;
        float: left;
    }
}

.checkBoxGray300.ui.checkbox {
    label {
        &::before {
            border: 2px solid $grey-300;
        }

        &:hover {
            &::before {
                border: 2px solid $grey-500;
            }
        }
    }

    input {
        &:focus {
            &:checked ~ label {
                &:after {
                    color: $white;
                }
            }
        }

        &:checked ~ label {
            &:after {
                color: $white;
            }
        }
    }
}

.checkBoxGray300.ui.checkbox.checked {
    label {
        &::before {
            border: 2px solid $grey-300;
        }

        &:after {
            background-color: $blue-500;

            @include border-radius(0.21428571rem);

            color: $white;
        }

        &:hover {
            &:after {
                background-color: $blue-600;
            }
        }
    }
}

.checkBoxGray300.ui.checkbox.disabled {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}

/*Start Radio*/

.radioBoxBlue.ui.checkbox {
    label {
        &::before {
            border: 2px solid $grey-300;
        }

        &:hover {
            &::before {
                border: 2px solid $grey-500;
            }
        }
    }
}

.ui.radio.checkbox.radioBoxBlue {
    input {
        &:focus {
            &:checked ~ label {
                &:before {
                    border: 2px solid $blue-600;
                }

                &:after {
                    background-color: $blue-600;
                }
            }
        }

        &:checked ~ label {
            &:before {
                border: 2px solid $blue-600;
            }

            &:after {
                background-color: $blue-600;
            }

            &:hover {
                &::before {
                    border: 2px solid $blue-700;
                }

                &:after {
                    background-color: $blue-700;
                }
            }
        }
    }

    label {
        &:after {
            background-color: $blue-600;
        }
    }
}

/**/

.radioBoxgreen.ui.checkbox {
    label {
        &::before {
            border: 2px solid $grey-400;
        }
    }
}

.radioBoxgreen.ui.checkbox {
    input {
        &:focus {
            &:checked ~ label {
                &:before {
                    border: 2px solid $lightgreen-500;
                }

                &:after {
                    background-color: $lightgreen-500;
                }
            }
        }

        &:checked ~ label {
            &:before {
                border: 2px solid $lightgreen-500;
            }

            &:after {
                background-color: $lightgreen-500;
            }

            &:hover {
                &:after {
                    background-color: $lightgreen-700;
                }

                &:before {
                    border: 2px solid $lightgreen-700;
                }
            }
        }
    }
}

.radioBoxBlue.ui.disabled {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;

    input {
        &:checked ~ label {
            &:before {
                border: 2px solid $blue-200;
            }

            &:after {
                background-color: $blue-200;
            }
        }
    }
}

/*Toggle Check Boxs*/

.toggleCheckBox.ui.toggle.checkbox {
    input {
        &:checked ~ label {
            &:after {
                left: 21px;
                box-shadow: none;
            }

            &:before {
                background-color: $Primary-2 !important;
                -webkit-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.16);
                box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.16);
            }

            &:hover {
                &:before {
                    background-color: $blue-600 !important;
                }
            }
        }
    }

    label {
        &:before {
            width: 40px;
            height: 20px;
            -webkit-box-shadow: inset -1px 1px 2px 0 rgba(0, 0, 0, 0.16);
            box-shadow: inset -1px 1px 2px 0 rgba(0, 0, 0, 0.16);
            background-color: $grey-200;
        }

        &:after {
            height: 18px;
            width: 18px;
            top: 1px;
            left: 1px;
            -webkit-box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.21);
            box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.21);
        }

        &:hover {
            &::before {
                background-color: $grey-400;
            }
        }
    }
}

.toggleCheckBox.ui.toggle.checkbox.disabled {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;

    input {
        &:checked ~ label {
            &:before {
                background-color: $blue-100 !important;
            }
        }
    }

    label {
        user-select: none;

        &:before {
            box-shadow: none;
        }

        &:hover {
            &:before {
                background-color: $grey-200;
            }
        }
    }
}

.ui.checkbox {
    label {
        font-size: $heading5-font;
        font-family: $sans-r;
        color: $grey-700;

        &:hover {
            color: $grey-900;
        }
    }
}

.toggleWithText {
    margin: 0 5px;
    display: inline-block;

    .ui.checkbox.toggle {
        label {
            padding-#{$left}: 55px;
        }
    }

    span {
        color: $grey-900;
        font-size: $heading5-font;
        font-family: $muli-b;
        display: inline-block;
        position: relative;
        top: -6px;
    }

    .toggleWithText-right {
        margin-right: 16px;
    }
}

.form.ui {
    img[src$="svg"] {
        margin-right: 4px;
    }

    .grouped.fields {
        > label {
            font-size: $heading5-font;
            font-family: $muli-b;
            color: $grey-900;
            margin-bottom: 4px;
            letter-spacing: -0.2px;
            height: 32px;
            display: block;
            display: flex;
            align-items: center;

            span {
                color: #adbccc;
                font-family: $muli-r;
                font-size: $heading6-font;
                margin-#{$left}: 4px;
            }
        }

        .field {
            margin: 0;
            height: 32px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }

        .radio,
        .checkbox {
            margin-top: 4px;
            margin-bottom: 4px;
        }

        p {
            color: $red-500;
            font-size: $heading6-font;
            font-family: $sans-r;
            padding-left: 3px;
        }
    }
}

.ui.checkbox .box:after,
.ui.checkbox label:after {
    width: 20px;
    height: 20px;
    line-height: 1.4;
}

.ui.checkbox .box:before,
.ui.checkbox label:before {
    width: 20px;
    height: 20px;
}

.ui.radio.checkbox .box:before,
.ui.radio.checkbox label:before {
    width: 20px;
    height: 20px;
}

.ui.radio.checkbox .box:after,
.ui.radio.checkbox label:after {
    width: 20px;
    height: 20px;
}

.radio label,
.checkbox label {
    min-height: 20px;
}

.ui.radio.checkbox .box,
.ui.radio.checkbox label,
.ui.checkbox .box,
.ui.checkbox label {
    padding-#{$left}: 28px;
}

.choiceCardsUL {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    li {
        cursor: pointer;
        min-width: 128px;
        height: 64px;
        padding: 0 16px;

        @include border-radius(6px);

        background-color: $white;
        border: solid 1px $grey-300;
        margin-#{$right}: 8px;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        color: $grey-800;
        font-size: $heading5-font;
        position: relative;
        font-family: $sans-r;
        overflow: hidden;
        margin-bottom: 8px;

        span {
            color: #858d9e;
            font-size: $heading6-font;
            font-family: $sans-r;
        }

        svg {
            position: absolute;
            top: 5px;
            #{$right}: 5px;
            display: none;
        }

        &:hover {
            border: solid 1px $grey-600;
        }

        &:last-child {
            a {
                margin-#{$right}: 0;
            }
        }
    }

    .disabled {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        pointer-events: none;
        pointer-events: none;
        border: solid 1px $grey-300;
        background-color: $background;
        color: $grey-500;
    }

    .activeChiceCard {
        border: solid 2px $Primary-2;
        font-family: $sans-sb;
        color: $grey-800;
        background-color: #f7f9fa;

        &:hover {
            border: solid 2px $blue-500;
        }

        svg {
            display: block;
        }
    }
}

.ui.checkbox input:focus ~ .box:before,
.ui.checkbox input:focus ~ label:before {
    border-color: #CCD2DB;
}

.ui.checkbox input[type=checkbox],
.ui.checkbox input[type=radio] {
    width: 20px;
    height: 20px;
}

.ui.checkbox input:checked ~ .box:after,
.ui.checkbox input:checked ~ label:after {
    content: url("../../images/checkmark.svg");
}
