.inputsSections {
    padding: 10px 20px;
    background: #fff;
}

.inputsStates {
    width: 148px;
    height: 36px;
    background-color: #252833;
    color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    padding-#{$left}: 23px;

    &:after {
        content: "";
        width: 20px;
        height: 20px;
        background-color: #252833;
        position: absolute;
        #{$right}: -20px;
        top: 0;
        -webkit-clip-path: polygon(0 0, 0% 100%, 98% 0);
        clip-path: polygon(0 0, 0% 100%, 98% 0);
    }

    &:before {
        content: "";
        width: 20px;
        height: 20px;
        background-color: #252833;
        position: absolute;
        #{$right}: -20px;
        bottom: 0;
        -webkit-clip-path: polygon(100% 100%, 0 100%, 0 0);
        clip-path: polygon(100% 100%, 0 100%, 0 0);
    }
}

.proForm {
    margin-top: 12px;

    .form-group {
        display: inline-block;
        padding: 12px 16px;

        @include border-radius(4px);

        margin-bottom: $px-8;

        // label {
        //     font-family: $sans-sb;
        //     margin-bottom: 4px;
        // }

        .ui {
            &.labeled {
                &.input {
                    input {
                        &:hover {
                            border-color: $grey-500;
                        }

                        &:focus {
                            background-color: $white;
                            border: solid 2px $blue-300;
                        }

                        &::placeholder {
                            letter-spacing: -0.2px;
                            color: $grey-500;
                        }
                    }
                }
            }

            &.left {
                input {
                    &:focus {
                        border-top-#{$left}-radius: 0 !important;
                        border-bottom-#{$left}-radius: 0 !important;
                        border-#{$left}-color: transparent !important;
                    }
                }
            }

            &.right {
                input {
                    &:focus {
                        border-top-#{$right}-radius: 0 !important;
                        border-bottom-#{$right}-radius: 0 !important;
                        border-#{$right}-color: transparent !important;
                    }
                }
            }
        }
    }

    .formInputP {
        letter-spacing: -0.2px;
        color: $grey-500;
        font-size: $heading6-font;
        font-weight: 400;
        margin-top: 4px;
    }

    .linebylineInput {
        display: flex;
        align-items: flex-start;
        flex-flow: column;

        &.sameLineInput {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-start;
            flex-flow: row;

            label {
                margin: 0;
                margin-#{$right}: 16px;
                font-weight: 400;
                font-size: 14px;
                line-height: 1.43;
                letter-spacing: -0.2px;
                text-align: #{$right};
                color: #26344c;
            }

            .ui.input.inputDev {
                @include border-radius(4px);

                input {
                    height: 40px;
                }
            }
        }
    }

    .defaultLabel {
        input {
            height: 40px;
        }

        label {
            margin: 0;
            margin-bottom: 4px;
            padding: 0;
        }

        .ui.basic.label.large.searchlabel.svg {
            height: 40px;
        }
    }

    .labeledInput {
        input {
            height: 48px;
            border-radius: 4px;
            border: solid 2px $grey-100;
            letter-spacing: -0.2px;
            color: $grey-800;
            background-color: $white;
            font-size: $heading5-font;
            text-align: $left;
            font-family: $muli-r;
            &:hover {
                border-color: $grey-500;
            }

            &:focus {
                background-color: $white;
                border: solid 2px $blue-300;
            }

            &::placeholder {
                letter-spacing: -0.2px;
                color: $grey-500;
                font-size: 14px;
            }
        }

        &.labeled {
            &.input {
                height: 48px;

                input {
                    height: 48px;
                }
            }
        }

        .label__input {
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 88px;
            padding-#{$left}: 12px;
            padding-#{$right}: 7px;
            background-color: #fafbfc !important;
        }

        .label__text {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-left: 15px;
            padding-right: 15px;
            background-color: #fafbfc;
            border: solid 2px #E9ECF0;
        }
    }

    .has-error .help-block,
    .has-error .control-label,
    .has-error .radio,
    .has-error .checkbox,
    .has-error .radio-inline,
    .has-error .checkbox-inline,
    .has-error.radio label,
    .has-error.checkbox label,
    .has-error.radio-inline label,
    .has-error.checkbox-inline label {
        color: $red-500;
        font-weight: 600;
        letter-spacing: -0.3px;
        font-size: $heading6-font;
        font-style: normal;
    }

    .control-label {
        font-family: $muli-b;
        font-size: 13px;
        line-height: 1.54;
        letter-spacing: normal;
        color: $grey-700;
        position: relative;
        z-index: 11;
        margin-bottom: -10px;
        margin-#{$left}: 13px;
        padding: 0 5px;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 50%;
            height: 2px;
            background: #fff;
            z-index: -1;
        }
    }

    .ui.input {
        .ui.svg-input {
            display: flex;
            align-items: center;
            justify-content: center;
            left: 0;
            top: 0;
            height: 48px;
            width: 40px;
            position: absolute;
        }

        .svgInput {
            padding-#{$left}: 35px;
        }
    }

    .ui.input.inputDev {
        position: relative;
        display: inline-block;
        transition: .5s ease;
        border-radius: 4px;

        .glyphicon {
            position: absolute;
            top: 0;
            #{$right}: 4px;
            width: 25px;
        }

        .glyphicon-ok {
            background-image: url(../../images/truesign.svg);
            background-size: 25px 25px;
            background-repeat: no-repeat;
            background-position: center;
            height: 48px;
        }

        .glyphicon-remove {
            background-image: url(../../images/red-requird.svg);
            background-size: 25px 25px;
            background-repeat: no-repeat;
            background-position: center;
            height: 48px;
        }

        .error {
            display: block;
            color: $red-500;
            font-weight: 600;
            letter-spacing: -0.3px;
            font-size: $heading6-font;
            font-style: normal;
            line-height: 1.33;
            margin-top: 4px;
        }

        .inputsideNote {
            position: absolute;
            top: -9px;
            #{$right}: 8px;
            letter-spacing: -0.2px;
            color: #a8b0bf;
            font-family: $sans-r;
            font-size: 12px;
            background: #fff;
            padding: 0 5px;
        }

        input {
            height: 48px;
            border-radius: 4px;
            width: 360px;
            border: solid 2px $grey-100;
            font-weight: normal;
            letter-spacing: -0.2px;
            color: $grey-800;
            background-color: $white;
            font-size: $heading5-font;
            text-align: $left;

            &:hover {
                border-color: $grey-500;
            }

            &:focus {
                background-color: $white;
                border: solid 2px $blue-300;
            }

            &::placeholder {
                letter-spacing: -0.2px;
                color: $grey-500;
                font-size: 14px;
            }
        }

        &.has-error {
            .form-control {
                border: solid 2px #e74c3c;
                background-color: #ffffff;
            }

            .formInputP {
                color: red;

                span {
                    color: red;
                }
            }
        }

        &.has-success .form-control {
            border: solid 2px $blue-300;

            &:focus {
                border: solid 2px $blue-300;
                box-shadow: none;
                background-color: #ffffff;
            }

            &:hover {
                border: solid 2px $grey-500;
            }
        }
    }

    .showPasswordArea {
        .inputsideNote {
            font-weight: 600;
            color: #3e4352;
            display: inline-flex;
            align-items: center;

            img {
                margin-#{$right}: 5px;
            }
        }

        .togglePW {
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            svg {
                margin-#{$right}: 2px;
            }

            span {
                font-family: $sans-r;
                font-weight: 400;
                font-size: 12px;
                line-height: 1.33;
                letter-spacing: -0.2px;
                color: #a8b0bf;
            }

            .hide {
                display: none;
            }

            &:hover {
                span {
                    color: #3e4352;
                    transition: all 0.3s ease;
                }

                svg {
                    path {
                        fill: #3e4352;
                        transition: all 0.3s ease;
                    }
                }
            }

            &.active-pw {
                .hide {
                    display: block;
                }

                .show {
                    display: none;
                }
            }
        }
    }

    .inputXmark {
        position: absolute;
        top: 0;
        #{$right}: 5px;
        height: 48px;
        display: flex;
        align-items: center;
    }

    .popUp {
        position: absolute;
        top: 0;
        #{$left}: 100%;
        display: none;
        margin-#{$left}: 10px;
    }

    .inputPassContainer {
        display: flex;

        .inputDev {
            margin-#{$right}: 5px;

            &.has-success {
                .charsNumber {
                    color: $lightgreen-700;
                }

                .capsSpan {
                    text-decoration: line-through;
                    color: $lightgreen-700;
                }
            }

            &.uppercase {
                .capsSpan {
                    text-decoration: line-through;
                    color: $lightgreen-700;
                }
            }

            &.has8letters {
                .charsNumber {
                    text-decoration: line-through;
                    color: $lightgreen-700 !important;
                }
            }

            &.nouppercase {
                .capsSpan {
                    color: $grey-800;
                }
            }

            &.nohas8letters {
                .charsNumber {
                    color: $grey-800;
                }
            }
        }

        .inputsPassLev {
            display: inline-flex;
            padding-top: 10px;

            .SpansLevel {
                margin: 0 5px;

                span {
                    width: 16px;
                    height: 3px;
                    border-radius: 3px;
                    background-color: $grey-100;
                    display: inline-block;
                    margin: 0 4px;
                }

                &.weak {
                    span {
                        &:first-child {
                            background-color: $Secondary-3;
                        }
                    }
                }

                &.medium {
                    span {
                        &:first-child {
                            background-color: #ff6b08;
                        }

                        &:nth-child(2) {
                            background-color: #ff6b08;
                        }
                    }
                }

                &.strong {
                    span {
                        background-color: #47cc4a;
                    }
                }
            }

            .spansWord {
                color: #3e4352;
                letter-spacing: -0.2px;
                font-weight: 400;
                font-size: $heading6-font;
            }
        }
    }

    .dropdown {
        &.large {
            min-width: 88px;
            text-align: center;
            background-color: $grey-100;
            border: solid 1px $grey-200;
        }

        .text {
            font-size: $heading5-font;
            letter-spacing: -0.2px;
            color: #252833;
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;

            svg {
                margin-#{$right}: 8px;
            }
        }

        .menu {
            .item {
                display: -webkit-inline-box;
                display: -ms-inline-flexbox;
                display: inline-flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                width: 100%;

                svg {
                    margin-#{$right}: 8px;
                }
            }
        }
    }

    .ui {
        &.basic {
            &.label {
                font-size: $heading5-font;
                letter-spacing: -0.2px;
                color: #252833;
            }

            &.greyLabel {
                background-color: $grey-100;
                border-color: $grey-200;
                border-width: 1px;
                border-style: solid;
            }

            &.searchlabel {
                min-width: 88px;
                text-align: center;

                &:hover {
                    border-color: $grey-600;
                }

                &.svg {
                    user-select: none;
                    background-color: $lightgreen-600;

                    svg {
                        height: 40px;
                        position: relative;
                        top: -11px;
                        margin-#{$right}: 0;
                    }
                }

                &.active {
                    background-color: $lightgreen-600;
                    color: $white;
                    letter-spacing: -0.2px;
                }

                &.disabled {
                    color: #252833;
                    opacity: .38;
                    user-select: none;
                    background-color: $grey-100;
                    border: solid 1px $grey-200;
                }

                svg {
                    margin-#{$right}: 8px;
                }
            }
        }
    }

    .smallFrom {
        .ui.input {
            .form-control {
                height: 32px;
            }
        }
    }
}
