.section__tabs {
    background: #fafbfc;
    border-#{$left}: 1px solid #e9ecf0;
    width: 322px;
    min-height: 100vh;
}

.section__tabs header {
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section__tabs header > h2 {
    font-family: $muli-b;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: -0.2px;
    color: #252833;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
}

.section__tabs .section__tabs--item {
    height: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    width: 322px;
    border-#{$left}: 6px solid transparent;
    padding-#{$left}: 35px;
    position: relative;
}

.section__tabs .section__tabs--item::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 24px;
    left: 24px;
    height: 1px;
    background: #e9ecf0;
}

.section__tabs .section__tabs--item:hover {
    background: #f5f5f6;
    cursor: pointer;
}

.section__tabs .section__tabs--item.active {
    border-#{$left}: 6px solid #4382f9;
    background: #e9ecf0;
}

// .section__tabs .section__tabs--item.active::after {
//     content: '';
//     height: 24px;
//     width: 24px;
//     background-repeat: no-repeat;
//     right: 13px;
//     left: inherit;
//     top: 20px;
//     bottom: 20px;
//     background-image: url(../../images/active-arrow.png);
//         background-position: center;
// }

.section__tabs .section__tabs--item h3 {
    font-family: $muli-b;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.2px;
    color: #252833;
}

.section__tabs .section__tabs--item p {
    font-family: $sans-r;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: -0.2px;
    color: #a8b0bf;
}
