.StepperCOntainer {
    width: 992px;
    padding: 20px;
}

///////
// STEPPER CSS
///////
/*Number 1 */

.stepper--bStepper {
    width: 480px;

    .stepper__button {
        &::after {
            left: 66%;
            width: 108px;
        }
    }
}

/*Number 2 */

.StepperNum {
    margin: 25px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    .StepNumber {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        .StepNum {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            background: $grey-100;
            cursor: pointer;

            &:hover {
                background: $grey-200;
            }

            p {
                font-size: $heading3-font;
                font-family: $muli-b;
                color: #adbccc;
            }

            .StepTrue {
                display: none;
            }
        }

        .stepWord {
            color: #adbccc;
            font-family: $muli-b;
            font-size: $heading6-font;
            margin: 0 $px-8;
            position: relative;

            span {
                position: absolute;
                top: 100%;
                left: 0;
                font-family: $sans-r;
            }
        }

        .Step-Line {
            width: 48px;
            height: 2px;
            background-color: #e9ecf0;
            display: block;
            margin-right: 8px;
        }

        &.active {
            .StepNum {
                background: $lightgreen-400;
                -webkit-transition: .1s ease;
                transition: .1s ease;

                &:hover {
                    background: $lightgreen-600;
                }

                p {
                    color: #fff;
                    -webkit-transition: .1s ease;
                    transition: .1s ease;
                }
            }

            .stepWord {
                color: $grey-800;
                -webkit-transition: .1s ease;
                transition: .1s ease;

                span {
                    color: #adbccc;
                    -webkit-transition: .1s ease;
                    transition: .1s ease;
                }
            }

            .Step-Line {
                background-color: $grey-300;
            }

            &.activea {
                .StepNum {
                    position: relative;

                    &::before {
                        content: "\f0d7";
                        position: absolute;
                        top: -20px;
                        left: 50%;
                        transform: translate(-50%);
                        height: 5px;
                        width: 50px;
                        font-family: $fa;
                        text-align: center;
                        color: $grey-800;
                    }
                }
            }
        }
    }
}

.StepperNum.StepperNum1 {
    .StepNumber {
        flex-flow: column;

        .StepNum {
            width: 40px;
            height: 40px;

            p {
                font-size: $heading2-font;
            }
        }

        .stepWord {
            text-align: center;

            span {
                left: 50%;
                -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
            }
        }
    }

    .Step-Line {
        margin: 0 $px-4;
        width: 108px;
        height: 3px;
        background-color: $grey-100;
        margin-top: -30px;
        margin-left: -40px;
        margin-right: -40px;
    }

    .Step-Line.active {
        background-color: $grey-300;
        transition: 0.5s ease;
    }

    .stepWord {
        font-size: $heading5-font;
        margin-top: 10px;
    }
}

.StepperNum.StepperNum3 {
    .Stepimg {
        width: 36px;
        height: 36px;

        svg {
            width: 100%;
            height: 100%;
            padding-top: 5px;
        }
    }

    .stepWord {
        font-size: $heading3-font;

        span {
            font-size: 11px;
            line-height: 1.45;
            letter-spacing: -0.2px;
            top: 120%;
            font-family: $sans-r;
        }
    }

    .StepNumber.activea {
        .stepWord {
            color: $blue-500;
        }
    }
}

.StepperNum.StepperNum4 {
    .StepNum {
        background: inherit;
        background-color: $grey-300;
        border: solid 2px #fafbfc;
        width: 12px;
        height: 12px;
        box-sizing: border-box;

        .StepTrue {
            font-size: 8px;
        }
    }

    .Step-Line {
        margin: 0 $px-4;
        width: 40px;
        height: 2px;
        background-color: $grey-300;
    }

    .StepNumber.active {
        .StepNum {
            border: solid 2px $lightgreen-400;
            background-color: $white;
        }

        .Step-Line {
            background-color: $lightgreen-400;
        }
    }

    .StepNumber.activea {
        .StepNum {
            background-color: $white !important;
        }
    }
}

/**/

.StepperNumV {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;

    .StepNumber {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;

        .Step-Line {
            height: 16px;
            width: 2px;
            margin: $px-4 0;
            margin-left: 15px;
        }

        .StepVir {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }
    }

    .ActiveHei {
        /*.Step-Line {
			height: 280px;
			transition: 1.5s all;
		}*/
    }
}

/**/

.StepperWorkFlow {
    max-width: 600px;
    width: 100%;

    .card {
        padding: 29px 32px;
        width: 600px;
        min-height: 384px;
        border-radius: 4px;
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
        background-color: #ffffff;
        border: solid 1px #e9ecf0;
        position: relative;
    }

    .Rectangle-2 {
        width: 234px;
        height: 8px;
        background-color: #ccd2db;
        margin: 8px 0;

        &:nth-child(3) {
            width: 162px;
        }

        &:nth-child(4) {
            width: 306px;
        }

        &:nth-child(5) {
            width: 346px;
        }

        &:nth-child(6) {
            width: 346px;
        }

        &:nth-child(7) {
            width: 266px;
        }

        &:nth-child(8) {
            width: 290px;
        }

        &:nth-child(9) {
            width: 322px;
        }

        &:nth-child(10) {
            width: 314px;
        }

        &:nth-child(11) {
            width: 338px;
        }
    }

    .step-progress {
        background-color: #FAFAFA;
        margin: 0 auto;
    }

    .step-progress .step-slider .step-slider-item {
        width: 40px;
        height: 2px;
        position: relative;
        margin-right: 15px;
        background-color: #E0E0E0;

        &:first-child {
            &:before {
                height: 0;
            }
        }

        &:last-child {
            background-color: inherit;
        }
    }

    .step-progress .step-slider .step-slider-item:after {
        content: "";
        width: 12px;
        height: 12px;
        position: absolute;
        top: -6px;
        left: -13.5px;
        background-color: $grey-300;
        border: 2px solid $background;
        border-radius: 50%;
        z-index: 2;
        transition: all 0.2s ease-out 0.2s;
        -webkit-transition: all 0.2s ease-out 0.2s;
    }

    .step-progress .step-slider .step-slider-item.activee:after {
        border: 2px solid $lightgreen-400;
        background-color: transparent;
    }

    .step-progress .step-slider .step-slider-item:before {
        content: "";
        position: absolute;
        top: 0;
        left: -137%;
        width: 0%;
        height: 2px;
        background-color: $grey-300;
        z-index: 1;
        -webkit-transition: all 0.2s ease-out;
    }

    .step-progress .step-slider .step-slider-item.active:before {
        width: 100%;
        background-color: $lightgreen-400;
    }

    .step-progress .step-slider .step-slider-item.active:after {
        border-color: $lightgreen-400;
        background-color: transparent;
    }

    .step-content-foot {
        position: absolute;
        top: 73px;
        right: 0;
        -webkit-touch-callout: none;

        /* iOS Safari */
        -webkit-user-select: none;

        /* Safari */
        -khtml-user-select: none;

        /* Konqueror HTML */
        -moz-user-select: none;

        /* Firefox */
        -ms-user-select: none;

        /* Internet Explorer/Edge */
        user-select: none;

        /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
        span {
            cursor: pointer;
            color: $grey-800;
            letter-spacing: -0.2px;
            font-size: $heading6-font;
            font-family: $sans-r;
            margin: 0 12px;

            i {
                margin: 0 4px;
            }
        }
    }

    .step-content-btn.disabled,
    .step-content-btn-prev.disabled {
        pointer-events: none;
        color: #ccc;
    }

    .step-content-body {
        h2 {
            letter-spacing: -0.2px;
            font-size: $heading4-font;
            color: $grey-900;
            font-family: $muli-b;
        }
    }

    .step-content .step-content-body.out {
        display: none;
    }

    /**/
    .workflow-sliderSteps {
        position: absolute;
        bottom: 0;
        height: 64px;
        border-radius: 3px;
        background-color: #fafbfc;
        width: 100%;
        left: 0;
        display: flex;
        align-items: center;
        padding: 0 32px;

        .step-slider {
            display: inline-flex;
            margin-#{$left}: 15px;
            flex: 1;
        }
    }
}

///////
// DEMO UTILS
///////
