.noTabs__document {
    .submittalHead {
        justify-content: center;
        padding-#{$left}: 0;
        z-index: 2;
    }
    .doc-container {
        background: #fff;
        flex-flow: column;
        display: flex;
        border-radius: 4px;
        border: solid 1px #e9ecf0;
        position: relative;
        border-top-color: transparent;
        min-height: 71vh;
        .main__header {
            width: 100%;
            padding: 0;
            border-bottom: 1px solid #e9ecf0;
            h2 {
                font-family: $muli-b;
                font-size: 20px;
                line-height: 1.4;
                letter-spacing: -0.2px;
                color: #252833;
            }

            p {
                font-family: $sans-r;
                font-size: 12px;
                line-height: 1.33;
                letter-spacing: -0.2px;
                color: #a8b0bf;
                text-align: #{$right};
            }
        }

        .step-content {
            .document-fields {
                .proForm {
                    &.datepickerContainer {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                    }

                    &.first-proform {
                        .linebylineInput {
                            &:last-of-type {
                                flex-flow: row;
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }

            .doc-pre-cycle {
                padding: 0;
                header {
                    padding: 40px 0;

                    h2 {
                        border-bottom: 1px solid #e1e3e8;
                        width: 100%;
                        padding-bottom: 12px;
                        padding-#{$left}: 0;
                        font-family: $muli-r;
                        font-size: 20px;
                        line-height: 1.4;
                        letter-spacing: -0.2px;
                        color: #252833;
                    }
                }

                .slider-Btns {
                    padding-top: 55px;
                    padding-#{$left}: 0;
                }
            }
        }
    }
}

.one__tab {
    padding-bottom: 90px;
    .doc-container {
        flex-flow: row;

        .subiTabsContent {
            > header {
                &.main__header {
                    padding: 0;

                    .main__header--div {
                        width: 100%;
                        margin: 0 auto;
                        height: 72px;
                    }
                }
            }
        }

        .subiTabContainer {
            width: 70%;
            flex-flow: column;

            @include max1200 {
                width: 78%;
            }


            .main__header {
                height: 72px;
                display: flex;
                align-items: center;
                padding: 0 56px;
            }

            .step-content {
                width: 100%;
                padding: 0 57px;

                &.activeTab {
                    display: none;
                }

                .doc-infohead {
                    font-family: $sans-r;
                    font-size: 12px;
                    line-height: 1.33;
                    letter-spacing: -0.2px;
                    color: rgb(168, 176, 191);
                    width: 100%;
                    margin-bottom: 32px;
                }

                .document-fields {
                    padding: 14px 0;

                    .subitTabs {
                        width: 24%;
                        height: 100vh;
                        border-#{$right}: 1px solid #e9ecf0;
                    }

                    .proForm {
                        .linebylineInput {
                            margin-right: 0;

                            .ui {
                                &.input {
                                    &.inputDev {
                                        width: 100%; 
                                        input {
                                            width: 100%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .doc-pre-cycle {
            padding: 0;

            header {
                padding: 40px 0;

                h2 {
                    border-bottom: 1px solid #e1e3e8;
                    width: 100%;
                    padding-bottom: 12px;
                    padding-#{$left}: 0;
                    font-family: $muli-r;
                    font-size: 20px;
                    line-height: 1.4;
                    letter-spacing: -0.2px;
                    color: #252833;
                }
            }

            .slider-Btns {
                padding-top: 55px;
                padding-#{$left}: 0;
            }
        }
    }

    &.one_step {
        .doc-container {
            .step-content {
                .document-fields {
                    .proForm {
                        .linebylineInput {
                            input {
                                @include max1200 {
                                    width: 100%;
                                }
                            }
                        }

                        &.first-proform {
                            @include max1200 {
                                flex-flow: column;
                                align-items: flex-start;
                            }


                            .linebylineInput {
                                @include max1200 {
                                    width: 77%;
                                }


                                input {
                                    width: 300px;
                                    @include max1200 {
                                        width: 360px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
