.noTabs__document {
    .submittalHead {
        justify-content: center;
        padding-#{$left}: 0;
        z-index: 2;
    }

    .doc-container {
        background: #fff;
        flex-flow: column;

        .main__header {
            width: 100%;
            padding: 0;
            border-bottom: 1px solid #e9ecf0;

            .main__header--div {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: space-between;
                width: 61%;
                margin: 0 auto;
                height: 72px;

                @include max1200 {
                    width: 68%;
                }
            }

            h2 {
                font-family: font-b;
                font-size: 20px;
                line-height: 1.4;
                letter-spacing: -0.2px;
                color: #252833;
            }

            p {
                font-family: font-opens;
                font-size: 12px;
                line-height: 1.33;
                letter-spacing: -0.2px;
                color: #a8b0bf;

                /* width: 100%; */
                text-align: #{$right};
            }
        }

        .step-content {
            width: 61%;
            border-#{$right}: 0;
            background-color: #ffffff;
            margin: auto;
            display: block;
            margin: 0 auto;
            padding-bottom: 70px;

            @include max1200 {
                width: 68%;
            }


            .document-fields {
                padding: 14px 0;

                .proForm {
                    &.datepickerContainer {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                    }

                    &.first-proform {
                        display: flex;
                        justify-content: space-between;
                        padding-#{$right}: 0;
                        flex-wrap: wrap;
                        align-items: center;

                        .linebylineInput {
                            &:last-of-type {
                                flex-flow: row;
                                margin-bottom: 0;
                            }
                        }
                    }

                    .linebylineInput {
                        margin-bottom: 16px;
                        width: 43%;
                        margin-#{$right}: 50px;
                        flex-shrink: 0;
                        flex-flow: column;
                        align-items: flex-start;

                        > label {
                            width: auto;
                            text-align: left;
                            margin-#{$right}: 32px;
                            font-family: font-opensb;
                            font-size: 14px;
                            line-height: 1.43;
                            letter-spacing: -0.2px;
                            color: #252833;
                            margin-bottom: 4px;
                        }

                        @include max1200 {
                            &.even {
                                margin-#{$right}: 0;
                            }
                        }
                    }
                }
            }

            .doc-pre-cycle {
                padding: 0;

                header {
                    padding: 40px 0;

                    h2 {
                        border-bottom: 1px solid #e1e3e8;
                        width: 100%;
                        padding-bottom: 12px;
                        padding-#{$left}: 0;
                        font-family: font-r;
                        font-size: 20px;
                        line-height: 1.4;
                        letter-spacing: -0.2px;
                        color: #252833;
                    }
                }

                .slider-Btns {
                    padding-top: 55px;
                    padding-#{$left}: 0;
                }
            }
        }
    }

    .approveDocument {
        //        border-bottom-left-radius: 4px;
        //        border-bottom-right-radius: 4px;
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        z-index: 19;
        height: 72px;
        border-radius: 3px;
        box-shadow: 0 -3px 6px 0 rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
        padding: 0 40px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        h2 {
            flex: 0.5;
            line-height: 1.17;
            letter-spacing: -0.5px;
            color: #252833;
            opacity: 0.3;
            font-family: font-b;
        }

        .approveDocumentBTNS {
            flex: 1.5;
            display: flex;
            justify-content: flex-end;

            .border {
                display: block;
                width: 1px;
                height: 40px;
                background-color: #e9ecf0;
                margin: 0 24px;
            }

            .middle__btn {
                margin: 0 6px;
            }
        }
    }
}

.one__tab {
    padding-bottom: 90px;

    .submittalHead {
        justify-content: center;
        padding-#{$left}: 0;
        z-index: 2;
    }

    .doc-container {
        background: #fff;
        flex-flow: row;

        .docstepper-levels {
            border-left: 1px solid #eef5ff;
        }

        .subiTabsContent {
            > header {
                &.main__header {
                    padding: 0;

                    .main__header--div {
                        width: 100%;
                        margin: 0 auto;
                        height: 72px;
                    }
                }
            }
        }

        .subiTabContainer {
            width: 70%;
            flex-flow: column;

            @include max1200 {
                width: 78%;
            }


            .main__header {
                height: 72px;
                display: flex;
                align-items: center;
                padding: 0 56px;
            }

            .step-content {
                width: 100%;
                padding: 0 57px;

                &.activeTab {
                    display: none;
                }

                .doc-infohead {
                    font-family: font-opens;
                    font-size: 12px;
                    line-height: 1.33;
                    letter-spacing: -0.2px;
                    color: rgb(168, 176, 191);
                    width: 100%;
                    margin-bottom: 32px;
                }

                .document-fields {
                    padding: 14px 0;

                    .subitTabs {
                        width: 24%;
                        height: 100vh;
                        border-right: 1px solid #e9ecf0;
                    }

                    .proForm {
                        .linebylineInput {
                            margin-right: 0;

                            .ui {
                                &.input {
                                    &.inputDev {
                                        width: 100%;
                                        padding: 0;

                                        input {
                                            width: 100%;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    //                    .proForm {
                    //                        &.datepickerContainer {
                    //                            display: flex;
                    //                            flex-wrap: wrap;
                    //                            justify-content: space-between;
                    //                        }
                    //                        &.first-proform {
                    //                            display: flex;
                    //                            justify-content: space-between;
                    //                            padding-#{$right}: 0;
                    //                            flex-wrap: wrap;
                    //                            align-items: center;
                    //                            .linebylineInput {
                    //                                &:last-of-type {
                    //                                    flex-flow: row;
                    //                                    margin-bottom: 0;
                    //                                }
                    //                            }
                    //                        }
                    //                        .linebylineInput {
                    //                            margin-bottom: 16px;
                    //                            width: 43%;
                    //                            margin-right: 50px;
                    //                            flex-shrink: 0;
                    //                            flex-flow: column;
                    //                            align-items: flex-start;
                    //                            > label {
                    //                                width: auto;
                    //                                text-align: left;
                    //                                margin-#{$right}: 32px;
                    //                                font-family: font-opensb;
                    //                                font-size: 14px;
                    //                                line-height: 1.43;
                    //                                letter-spacing: -0.2px;
                    //                                color: #252833;
                    //                                margin-bottom: 4px;
                    //                            }
                    //                            @include max1200 {
                    //                                &.even {
                    //                                    margin-#{$right}: 0;
                    //                                }
                    //                            }
                    //                        }
                    //                    }
               
                }
            }
        }

        .doc-pre-cycle {
            padding: 0;

            header {
                padding: 40px 0;

                h2 {
                    border-bottom: 1px solid #e1e3e8;
                    width: 100%;
                    padding-bottom: 12px;
                    padding-#{$left}: 0;
                    font-family: font-r;
                    font-size: 20px;
                    line-height: 1.4;
                    letter-spacing: -0.2px;
                    color: #252833;
                }
            }

            .slider-Btns {
                padding-top: 55px;
                padding-#{$left}: 0;
            }
        }
    }

    .approveDocument {
        //      border-bottom-left-radius: 4px;
        //      border-bottom-right-radius: 4px;
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        z-index: 19;
        height: 72px;
        border-radius: 3px;
        box-shadow: 0 -3px 6px 0 rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
        padding: 0 40px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        h2 {
            flex: 0.5;
            line-height: 1.17;
            letter-spacing: -0.5px;
            color: #252833;
            opacity: 0.3;
            font-family: font-b;
        }

        .approveDocumentBTNS {
            flex: 1.5;
            display: flex;
            justify-content: flex-end;

            .border {
                display: block;
                width: 1px;
                height: 40px;
                background-color: #e9ecf0;
                margin: 0 24px;
            }

            .middle__btn {
                margin: 0 6px;
            }
        }
    }

    &.one_step {
        .doc-container {
            .step-content {
                width: calc(100% - 347px);

                .main__header {
                    padding-#{$left}: 110px;
                    padding-#{$right}: 80px;

                    @include max1366 {
                        padding-#{$left}: 35px;
                        padding-#{$right}: 20px;
                    }
                }

                .document-fields {
                    padding-#{$left}: 110px;
                    padding-#{$right}: 80px;

                    @include max1366 {
                        padding-#{$left}: 35px;
                        padding-#{$right}: 20px;
                    }


                    .proForm {
                        .linebylineInput {
                            margin-right: 0;

                            input {
                                @include max1200 {
                                    width: 100%;
                                }
                            }
                        }

                        &.first-proform {
                            @include max1200 {
                                flex-flow: column;
                                align-items: flex-start;
                            }


                            .linebylineInput {
                                @include max1200 {
                                    width: 77%;
                                }


                                input {
                                    width: 300px;

                                    @include max1200 {
                                        width: 360px;
                                    }
                                }
                            }
                        }
                    }
                }

                .doc-pre-cycle {
                    padding-#{$left}: 110px;
                    padding-#{$right}: 80px;

                    @include max1366 {
                        padding-#{$left}: 35px;
                        padding-#{$right}: 20px;
                    }
                }
            }
        }
    }
}
