/*Start Table Grid*/
.gridfillter-container {
    width: 100%;
    border: solid 1px #e9ebf0;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    display: flex;
    align-items: center;
    padding: 25px 16px 14px 24px;
    background-color: #fafbfc;
    border-bottom: 0;
    transition: all 0.4s ease-in-out;
    padding-top: 12px;
    .fillter-status-container {
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        @include max1200 {
            justify-content: flex-start;
        }

        .fillter-item-c {
            margin-#{$right}: 8px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .fillterinput {
            padding: 0;
            display: flex;
            flex-flow: column;

            .ui.input.inputDev {
                padding: 0;

                input {
                    height: 36px;
                    border: solid 2px;
                    transition: all 0.5s ease-in-out;
                    border-color: #E9ECF0 ;
                    &:hover {
                        border-color: #A8B0BF;
                    }
                    &:focus {
                        border: solid 2px #83B4FC;
                    }
                }
            }

            .form-group {
                padding: 0;
                margin: 0;
            }
        }

        .fillter-status {
            .text {
                background: none !important;

                &.default {
                    line-height: 1.71;
                    letter-spacing: -0.2px;
                    color: #a8b0bf;
                    opacity: 0.4;
                    font-family: $sans-r;
                }
            }

            min-width: 136px;

            &.status-from {
                min-width: 184px;
            }
        }

        .datepickerContainer.proForm {
            margin: 0px;
            padding: 0;
            display: flex;
            margin-#{$right}: 8px;

            .control-label {
                margin-bottom: 4px;
                margin-left: 0;
                z-index: 0;
            }

            .linebylineInput {
                margin: 0;
                padding: 0;
                display: flex;
                flex-flow: column;
                align-items: flex-start;
                width: 136px;

                .ui.input.inputDev {
                    input {
                        width: 136px;
                    }
                }
            }
        }

        .fillter-item-c {
            //margin-bottom: 20px !important;
            margin-bottom: 0px !important;
        }

        .form-control {
            &::placeholder {
                line-height: 1.71;
                letter-spacing: -0.2px;
                color: #a8b0bf;
                opacity: 0.4;
                font-family: $sans-r;
            }
        }
    }

    .primaryBtn-2 {
        &.btn {
            &.smallBtn {
                margin-#{$left}: 8px;
                margin-bottom: 8px;
                min-width: 126px;
            }
        }
    }
}

.mainGridSystem {
    position: relative;
    border: 1px solid $grey-100;
    max-width: 1200px;
    margin: 0 auto;
    border-top: 0;

    @include min1400 {
        width: 100%;
        max-width: 100%;
    }


    .ui.dropdown.classico {
        color: $black;

        .uiDropName {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            height: 20px;
            overflow: hidden;

            p {
                font-family: $sans-sb;
                line-height: 1.5;
            }

            .dropdown.icon {
                padding-top: 2px;
                padding-#{$left}: 5px;
            }
        }

        .menu {
            margin-#{$right}: -9px;
            top: 45px;

            &:after {
                #{$right}: 15px;
                #{$left}: inherit;
            }
        }
    }

    .gridSystemTables {
        position: relative;
        overflow: auto;
        min-height: 690px;

        .headCell {
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-start;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            padding-#{$left}: 10px;
            color: $grey-500;
            font-family: $muli-b;
            font-size: 14px;

            .V-tableSize,
            .H-tableSize {
                cursor: pointer;
                margin: 0 5px;

                &.active {
                    path {
                        fill: $Primary-2;
                    }
                }
            }

            &:last-child {
                padding-#{$right}: 10px;
            }

            &.sort {
                cursor: pointer;
                user-select: none;

                span {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;

                    svg {
                        margin-left: 5px;

                        polygon {
                            fill: #ccc;
                        }
                    }
                }

                &.active {
                    color: $black;

                    svg {
                        polygon {
                            fill: $black;
                        }
                    }
                }
            }

            &.ui-draggable-dragging {
                height: 56px;
                box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.4), 0 0 6px 0 rgba(67, 130, 249, 0.61);
                background-color: #ffffff;
            }
        }

        .girdTableHeader {
            border-bottom: 2px solid $grey-100;
            background-color: $white;
            position: sticky;
            top: 0;
            z-index: 6;
            #{$left}: 0;
            min-width: 852px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            height: 60px;

            .thead-row {
                top: 0;
                min-width: 858px;
                background-color: $white;
                position: absolute;
                -webkit-transform: translateX(360px);
                transform: translateX(360px);
                z-index: 2;
                height: 58px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-pack: distribute;
                justify-content: flex-start;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;

                /*     @include min1400 {
                    min-width: inherit;
                    width: calc(100% - 360px);
                }*/
                @include min1440 {
                    left: 32%;
                    -webkit-transform: none;
                    transform: none;
                }


                .tableCell-9 {
                    -webkit-box-pack: end;
                    -ms-flex-pack: end;
                    justify-content: flex-end;
                }

                .headCell {
                    min-width: 80px;
                }
            }

            .stickyHead {
                background-color: $white;
                position: sticky;
                top: 0;
                #{$left}: 0;
                width: 100px;
                height: 20px;
                z-index: 4;
                height: 58px;
                border-#{$right}: 1px solid $grey-100;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                width: 360px;
                #{$left}: 0;

                .tableCell-1 {
                    justify-content: center;
                }

                @include min1440 {
                    width: 32%;
                }
            }
        }

        .contentCell {
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: start;
            -ms-flex-align: start;
            align-items: flex-start;
            padding-#{$left}: 10px;
            color: $grey-500;
            font-size: 14px;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-flow: column;
            flex-flow: column;

            &:last-child {
                padding-#{$right}: 10px;
            }

            h5 {
                color: $grey-800;
                letter-spacing: -0.2px;
                font-size: 14px;
                font-family: $sans-sb;
                overflow: hidden;
                height: 20px;
                text-align: $left;
            }

            span {
                font-size: 13px;
                font-family: $sans-r;
                color: $grey-500;
                letter-spacing: -0.3px;
                overflow: hidden;
                height: 20px;
            }

            h6,
            p {
                color: $grey-800;
                letter-spacing: -0.2px;
                font-size: 14px;
                font-family: $sans-r;
            }
        }

        .normalContent {
            height: 60px;
            min-width: 858px;
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            margin-#{$left}: 360px;
            background-color: $white;
            justify-content: flex-start;
            position: absolute;

            /*        @include min1400 {
                min-width: inherit;
                width: calc(100% - 360px);
            }*/
            @include min1440 {
                left: 32%;
                -webkit-transform: none;
                transform: none;
                margin-#{$left}: 0;
            }


            .contentCell {
                min-width: 80px;
            }
        }

        /*Table Cells*/
        .tableCell-0 {
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            width: 51px;

            &.active {
                background-color: $Secondary-1;
                z-index: 11;
            }

            .checkBoxGray300 {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;

                label {
                    padding: 0;
                    width: 20px;
                }
            }
        }

        .tableCell-1 {
            width: 40px;
            align-items: center;
            padding-#{$right}: 0;

            .contentCelImg {
                width: 48px;
                height: 48px;
                border-radius: 50%;
                display: block;
                padding: 1px;
                border: 1px solid #e9ebf0;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }
            }
        }

        .tableCell-2 {
            width: 230px;
            padding-right: 10px;

            @include min1440 {
                width: calc(100% - 91px);
            }
        }

        .tableCell-3 {
            min-width: 85px;
            width: 85px;
        }

        .tableCell-4 {
            min-width: 150px;
            width: 150px;
        }

        .tableCell-5 {
            min-width: 150px;
            width: 150px;
        }

        .tableCell-6 {
            min-width: 150px;
            width: 150px;
        }

        .tableCell-7 {
            min-width: 120px;
            width: 120px;
        }

        .tableCell-8 {
            min-width: 115px;
            width: 115px;
        }

        .tableCell-9 {
            min-width: 91px;
            width: 91px;
        }

        .gridTableContent {
            font-family: $sans-r;

            .gridMainRow {
                background-color: $white;
                border-bottom: 1px solid $grey-100;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;

                .stickyContent {
                    height: 60px;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    border-#{$right}: 1px solid $grey-100;
                    overflow: hidden;
                    position: sticky;
                    #{$left}: 0;
                    width: 360px;
                    z-index: 3;
                    background-color: $white;

                    @include min1440 {
                        width: 32%;
                    }
                }

                &:hover {
                    background-color: #edf0f2;
                    transition: 0.2s ease;

                    .stickyContent,
                    .normalContent {
                        background-color: #edf0f2;
                        transition: 0.2s ease;
                    }
                }

                &.activeColor {
                    background-color: #f5f6f7;
                    transition: 0.2s ease;

                    .stickyContent,
                    .normalContent {
                        background-color: #f5f6f7;
                        transition: 0.2s ease;
                    }

                    &:hover {
                        background-color: #edf0f2;

                        .stickyContent,
                        .normalContent {
                            background-color: #edf0f2;
                        }
                    }
                }

                &.minimize {
                    .stickyContent {
                        height: 40px;

                        .contentCell {
                            p {
                                font-size: 13px;
                            }

                            .contentCelImg {
                                width: 32px;
                                height: 32px;
                            }
                        }
                    }

                    .normalContent {
                        height: 40px;

                        .contentCell {
                            p {
                                font-size: 13px;
                            }

                            span {
                                font-size: 10px;
                            }
                        }
                    }
                }

                .tableCell-1 {
                    span {
                        color: $grey-800;
                    }
                }

                .tableCell-9 {
                    -webkit-box-align: end;
                    -ms-flex-align: end;
                    align-items: flex-end;
                }
            }
        }
    }

    .gridSystemSelected {
        position: absolute;
        top: 40px;
        #{$left}: 50px;
        padding-#{$left}: 22px;
        width: calc(100% - 50px);
        height: 58px;
        background-color: $Secondary-1;
        z-index: 5;
        display: none;
        z-index: 7;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        min-width: 805px;

        &.active {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
        }

        .tableselcted-items {
            font-family: $muli-b;
            color: $white;
            line-height: 1.5;
            letter-spacing: -0.2px;
            font-size: $heading4-font;
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
        }

        .tableSelctedBTNs {
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: end;
            -ms-flex-pack: end;
            justify-content: flex-end;
            padding-#{$right}: 40px;

            .defaultBtn {
                margin-#{$right}: 16px;
                border: 1px solid $white;
                color: $white;

                &:active {
                    color: $black;
                }
            }
        }
    }

    .rowsPaginations {
        border-top: 2px solid $grey-100;
        height: 97px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        padding-#{$right}: 40px;
    }

    &.active {
        .girdTableHeader {
            position: fixed;
            top: 72px;
            left: 131px;
            right: 41px;
            height: inherit;
            overflow-x: auto;
            overflow-y: hidden;
        }

        .gridSystemSelected {
            position: fixed;
            width: initial;
            top: 72px;
            #{$left}: 182px;
            #{$right}: 40px;
        }

        .gridTableContent {
            padding-top: 60px;
        }

        .datagrid-scroll {
            position: fixed;
            top: 121.2px;
            #{$left}: 130.5px;
            #{$right}: 40.5px;
        }
    }

    .datagrid-scroll {
        position: absolute;
        left: 0;
        right: 0;
        top: 87px;
        z-index: 7;
        overflow: auto;
        height: 11px;
        min-width: 852px;

        &.hide {
            display: none;
        }

        &::-webkit-scrollbar {
            height: 7px;
        }

        div {
            position: absolute;
            left: 0;
            right: 0;
            height: 1px;
            top: 0px;
        }
    }

    /*    &:hover {
        .datagrid-scroll {
            &::-webkit-scrollbar {
                height: 7px;
            }
        }
    }*/
    .datagrid-grouping {
        height: 40px;
        border-radius: 2px;
        background-color: $grey-100;
        display: flex;
        justify-content: center;
        align-items: center;

        .content-p {
            letter-spacing: -0.2px;
            text-align: center;
            color: $grey-500;
            font-family: $muli-r;
            font-size: $heading5-font;
        }

        .drop-item {
            min-width: 77px;
            height: 26px;
            border-radius: 100px;
            background-color: $grey-drop;
            padding: 0 10px 0 12px;
            margin-left: 6px;
            line-height: 26px;
            font-family: $muli-b;
            font-size: 12px;
            letter-spacing: -0.2px;
            color: $grey-700;

            .remove {
                padding: 0;
                float: right;
                background-color: $grey-600;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                color: $grey-drop;
                font-size: 8px;
                line-height: 15px;
                margin: 5px 0 0 5px;
            }
        }

        /**/
        &.datagrid-dark {
            background-color: $grey-700;
            padding-#{$left}: 12px;
            justify-content: flex-start;
        } /**/
        &.active {
            background-color: $red-500;
            border: 4px dashed rgba(255, 255, 255, 0.3);

            .content-p {
                color: $white;
            }

            .drop-item {
                opacity: 0.5;
            }
        }
    }
}