/*Start Sidenav CSS*/

.mainSide {
    float: left;
    width: 88px;
    z-index: 99;

    .header-logo-menu {
        z-index: 999;
        position: fixed;
        width: 256px;

        .header-logocontent {
            -webkit-box-shadow: 0px 0 12px #888888;
            box-shadow: 0px 0 12px #888888;
            width: 88px;
            overflow: hidden;
            -webkit-transition: 0.3s ease;
            transition: 0.3s ease;
            background-color: #fff;

            &.hover {
                width: 256px;
            }

            &.active {
                width: 256px;
            }
        }

        .content-collapse {
            width: 256px;
            height: 72px;
            background-color: $background;
            padding: 22px 20px;
            border-bottom: 1px solid $grey-100;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-start;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;

            .procoorLogo {
                font-size: 25px;
                font-family: $muli-xb;
                -webkit-box-flex: 1;
                -ms-flex: 1;
                flex: 1;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                padding-#{$left}: 5px;
            }

            .mainProjectsList {
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                -webkit-box-flex: 1;
                -ms-flex: 1;
                flex: 1;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: end;
                -ms-flex-pack: end;
                justify-content: flex-end;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                cursor: pointer;
                position: relative;

                .mainProjectName {
                    width: 32px;
                    height: 32px;

                    @include border-radius(8px);

                    background-color: $Primary-2;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    color: #fff;
                    font-family: $muli-xb;
                    font-size: 14px;
                    margin-right: 10px;
                    position: relative;

                    &::after {
                        content: "\f0d7";
                        position: absolute;
                        font-family: $fa;
                        color: #5a5b5f;
                        right: -18px;
                        font-size: 16px;
                        top: 7px;
                    }

                    &.activeClass {
                        &::after {
                            content: "\f0d8";
                        }
                    }
                }
            }
        }
    }

    .mainSideNav {
        height: 100%;
        #{$left}: 0px;
        z-index: 98;
        position: relative;
        top: 72px;

        .mainSidenavContent {
            width: 88px;
            overflow: hidden;
            -webkit-transition: 0.3s ease;
            transition: 0.3s ease;
            -webkit-box-shadow: 0px 5px 12px #888888;
            box-shadow: 0px 5px 12px #888888;
            background-color: #fff;

            .sidenavinner {
                min-height: calc(100vh - 72px);
                width: 256px;
                background-color: #fff;

                /*projectsUL LIst*/
                .ProjectsUlList {
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    padding-top: 8px;
                    display: none;

                    &.active {
                        display: block;
                    }

                    &.hidden {
                        display: none;
                    }

                    ul {
                        li {
                            a {
                                font-size: 15px;
                                font-weight: 500;
                                padding: 5px 15px;
                                position: relative;
                                white-space: nowrap;
                                height: 80px;
                                display: -webkit-inline-box;
                                display: -ms-inline-flexbox;
                                display: inline-flex;
                                -webkit-box-pack: start;
                                -ms-flex-pack: start;
                                justify-content: flex-start;
                                -webkit-box-align: center;
                                -ms-flex-align: center;
                                align-items: center;
                                width: 100%;
                                border-#{$left}: 4px solid transparent;

                                &:hover {
                                    background-color: #f5f5f6;
                                }

                                p {
                                    font-family: $muli-b;
                                    font-size: 16px;
                                    color: #252833;
                                    letter-spacing: -0.2px;
                                    display: none;
                                }

                                span {
                                    min-width: 48px;
                                    height: 48px;

                                    @include border-radius(12px);

                                    display: -webkit-inline-box;
                                    display: -ms-inline-flexbox;
                                    display: inline-flex;
                                    -webkit-box-pack: center;
                                    -ms-flex-pack: center;
                                    justify-content: center;
                                    -webkit-box-align: center;
                                    -ms-flex-align: center;
                                    align-items: center;
                                    left: 0;
                                    line-height: 35px;
                                    margin-#{$right}: 12px;
                                    font-family: $muli-black;
                                    font-size: 18px;
                                    color: #fff;
                                    position: relative;
                                    text-align: center;
                                    -webkit-transition: all .3s ease;
                                    transition: all .3s ease;
                                }
                            }
                        }
                    }

                    .activeMainPlist {
                        background-color: #f5f5f6;
                    }

                    /*projectMange-li*/
                    .projectMange-li {
                        &.activeMainPlist {
                            a {
                                border-#{$left}: 4px solid $Primary-2;
                            }
                        }

                        span {
                            background-color: $Primary-2;
                        }
                    }

                    /*facilityMange-li*/
                    .facilityMange-li {
                        &.activeMainPlist {
                            a {
                                border-#{$left}: 4px solid #39bd3d;
                            }
                        }

                        span {
                            background-color: #39bd3d;
                        }
                    }

                    /*humanResources-li*/
                    .humanResources-li {
                        &.activeMainPlist {
                            a {
                                border-#{$left}: 4px solid #e74c3c;
                            }
                        }

                        span {
                            background-color: #e74c3c;
                        }
                    }

                    /*accounting-li*/
                    .accounting-li {
                        &.activeMainPlist {
                            a {
                                border-#{$left}: 4px solid #009688;
                            }
                        }

                        span {
                            background-color: #009688;
                        }
                    }

                    /*realEstate-li*/
                    .realEstate-li {
                        &.activeMainPlist {
                            a {
                                border-#{$left}: 4px solid #ffc107;
                            }
                        }

                        span {
                            background-color: #ffc107;
                        }
                    }
                }

                /*Menu of the projects List*/
                .MainProjectsMenu {
                    display: none;

                    .backToModules {
                        a {
                            padding: 0 32px;
                            font-family: $sans-r;
                            font-size: 11px;
                            color: #5e6475;
                            height: 56px;
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-box-align: center;
                            -ms-flex-align: center;
                            align-items: center;
                            -webkit-transition: .2s ease;
                            transition: .2s ease;
                            cursor: pointer;
                            border-bottom: 1px solid $grey-100;

                            span {
                                display: inline-block;
                            }

                            i {
                                margin-right: 4px;
                                display: inline-block;
                                font-size: 14px;
                                padding-left: 10px;
                            }

                            &:hover {
                                background-color: $Primary-2;
                                color: #fff;
                            }
                        }
                    }

                    .MainProjectsMenuUL {
                        &.hidden {
                            display: none !important;
                        }

                        a {
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                        }

                        .EastWestProject {
                            .EastMainLi {
                                font-size: 12px;
                                color: #a8b0bf;
                                position: relative;
                                display: block;
                                padding: 13px 32px;
                                font-family: $muli-b;
                                cursor: pointer;

                                &::after {
                                    content: "\f0d8";
                                    position: absolute;
                                    font-family: $fa;
                                    color: #000;
                                    right: 15px;
                                    font-size: 16px;
                                    top: 12px;
                                }

                                i {
                                    color: #000;
                                }
                            }

                            .EastMainLiArrow {
                                &::after {
                                    content: "\f0d7";
                                }
                            }

                            ul {
                                display: -webkit-box;
                                display: -ms-flexbox;
                                display: flex;
                                -webkit-box-orient: vertical;
                                -webkit-box-direction: normal;
                                -ms-flex-flow: column;
                                flex-flow: column;
                                -ms-flex-direction: column-reverse;
                                flex-direction: column-reverse;

                                li {
                                    a {
                                        color: #252833;
                                        font-size: 16px;
                                        font-family: $muli-b;
                                        height: 56px;
                                        border-#{$left}: 4px solid transparent;
                                        padding: 0 36px;
                                        padding-#{$right}: 10px;
                                        -webkit-box-align: center;
                                        -ms-flex-align: center;
                                        align-items: center;
                                        cursor: pointer;
                                        -webkit-transition: 0.2s ease;
                                        transition: 0.2s ease;

                                        &:hover {
                                            background-color: #f5f5f6;
                                        }
                                    }

                                    &.active {
                                        order: 1;

                                        a {
                                            border-#{$left}: 4px solid $Primary-2;
                                            background-color: #f5f5f6;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &.active {
                        display: block;
                    }

                    &.hidden {
                        display: none;
                    }
                }

                /*modulesMenuIcons*/
                .modulesMenuIcons {
                    display: none;

                    &.active {
                        display: block;
                    }

                    &.hidden {
                        display: none;
                    }

                    .backtoProjects {
                        padding: 11.5px 24px;
                        height: 80px;
                        font-family: $sans-r;
                        font-size: 11px;
                        color: #5e6475;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-pack: center;
                        -ms-flex-pack: center;
                        justify-content: center;
                        -webkit-box-orient: vertical;
                        -webkit-box-direction: normal;
                        -ms-flex-flow: column;
                        flex-flow: column;
                        -webkit-transition: .2s ease;
                        transition: .2s ease;
                        cursor: pointer;
                        border-bottom: 1px solid $grey-100;

                        &:hover {
                            background-color: $Primary-2;
                            color: #fff;

                            svg {
                                path {
                                    fill: white;
                                }
                            }

                            .backToModulesName {
                                h2 {
                                    color: $white;
                                }
                            }
                        }

                        i {
                            margin-right: 4px;
                            display: inline-block;
                        }

                        .backtoProjectsOne {
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-box-align: center;
                            -ms-flex-align: center;
                            align-items: center;
                            font-size: 11px;
                            font-family: $sans-r;

                            svg {
                                height: 36px;
                                width: 36px;
                                display: inline-block;
                            }

                            .backToModulesBK {
                                display: none;
                            }
                        }

                        .backToModulesName {
                            h2 {
                                font-size: 16px;
                                color: #252833;
                                font-family: $muli-b;
                                padding-left: 10px;
                                display: none;
                            }
                        }
                    }

                    /**/
                    /*start Small Menu*/
                    /* BigMenuUL */
                    .MenuUl {
                        position: relative;
                        padding: 5px 0;

                        &::-webkit-scrollbar {
                            width: 5px;
                        }

                        &::-webkit-scrollbar-thumb {
                            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                            background: #fff;
                            border: none;
                        }

                        &::-webkit-scrollbar-track {
                            background: white;
                            border: none;
                        }

                        > li {
                            > a {
                                display: -webkit-box;
                                display: -ms-flexbox;
                                display: flex;
                                -webkit-box-align: center;
                                -ms-flex-align: center;
                                align-items: center;
                                height: 64px;
                                padding: 14px 20px;
                                padding-right: 14px;
                                border-#{$left}: 4px solid transparent;
                            }

                            .UlName {
                                font-size: 14px;
                                font-family: font-sb;
                                color: #858d9e;
                                display: none;
                                margin-#{$left}: 16px;
                            }

                            .ULimg {
                                width: 36px;
                                height: 36px;
                                display: -webkit-inline-box;
                                display: -ms-inline-flexbox;
                                display: inline-flex;
                                -webkit-box-align: center;
                                -ms-flex-align: center;
                                align-items: center;
                                -webkit-box-pack: center;
                                -ms-flex-pack: center;
                                justify-content: center;

                                path {
                                    fill: #A8B0BF;
                                }
                            }

                            .subBigMenuUl {
                                display: none;

                                li {
                                    a {
                                        padding: 14px 10px;
                                        display: block;
                                        font-size: 14px;
                                        color: $grey-500;
                                        font-family: $muli-r;
                                        letter-spacing: 0.3px;
                                        padding-#{$left}: 78px;
                                        transition: 0.3s;

                                        &:hover {
                                            color: $grey-900;
                                        }
                                    }

                                    &.active {
                                        a {
                                            color: $blue-600;
                                            font-family: $muli-b;
                                        }
                                    }
                                }
                            }

                            &.ActiveSubLi {
                                > a {
                                    border-#{$left}: 4px solid $Primary-2;
                                    background-color: #f5f5f6;

                                    span {
                                        font-family: $muli-b;
                                        color: $grey-700;
                                    }
                                }

                                .ULimg {
                                    path {
                                        fill: $grey-600;
                                    }
                                }
                            }

                            &:nth-child(2) {
                                border-bottom: 1px solid $grey-100;
                            }
                        }

                        &.PM-color {
                            > li {
                                > a {
                                    &:hover {
                                        background-color: #f5f5f6;
                                    }
                                }
                            }
                        }

                        .ui.accordion .title:not(.ui) {
                            padding: 14px 20px;
                        }
                    }
                }
            }

            /*with active class*/
            /*hover*/
            &.hover {
                width: 256px;

                .sidenavHeader {
                    width: 256px;
                }

                .MenuUl {
                    .UlName {
                        display: inline-block;
                    }
                }

                .sidenavinner {
                    .ProjectsUlList {
                        ul {
                            li {
                                a {
                                    p {
                                        display: block;
                                    }
                                }
                            }
                        }
                    }

                    .modulesMenuIcons {
                        .MenuUl {
                            .subBigMenuUl.active {
                                display: block;
                            }

                            .UlName {
                                display: inline-block;
                            }
                        }

                        .backtoProjects {
                            .backtoProjectsOne {
                                .backToModulesBK {
                                    display: inline-block;
                                }
                            }

                            .backtoProjectsOne {
                                svg {
                                    height: 25px;
                                    width: 25px;
                                    margin-right: 10px;
                                    padding-top: 3px;
                                }
                            }

                            .backToModulesName {
                                h2 {
                                    display: inline-block;
                                }
                            }
                        }
                    }
                }

                .ProjectsUlList {
                    li {
                        a {
                            p {
                                display: inline-block;
                            }
                        }
                    }

                    &.show {}
                }
            }
        }
    }
}
