.not-container {
    display: flex;
    justify-content: space-between;
    padding: 200px 0;
    align-items: center;
}

.notifiBar {
    border: 1px solid $grey-300;
    border-radius: 3px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    position: absolute;
    top: 150%;
    z-index: 999;
    width: 345px;
    right: -162px;

    &::after {
        content: ' ';
        position: absolute;
        height: 18px;
        transform: rotate(45deg);
        top: -10px;
        width: 18px;
        z-index: 0;
        background: $white;
        border: 1px solid $grey-300;
        border-bottom: none;
        border-right: none;
        border-radius: 3px;
    }

    .smallNotifiBar {
        display: flex;
        align-items: center;
        flex-flow: column;
        min-height: 200px;
        max-height: 490px;
        overflow: auto;
        overflow-x: hidden;
        width: 100%;

        &.noNotification {
            justify-content: center;
        }

        img {
            width: 80px;
            height: 80px;
        }

        .emptyNotifiP {
            font-size: 14px;
            font-weight: bold;
            line-height: 1.43;
            letter-spacing: -0.2px;
            color: $grey-500;
            margin-top: 14px;
            font-family: $muli-b;
        }

        .notifiContent {
            display: flex;
            align-items: center;
            min-height: 56px;
            width: 100%;
            border-bottom: 1px solid $grey-100;
            transition: all 0.4s ease-in-out;
            background-color: $white;
            padding-#{$left}: 16px;

            &:hover {
                background-color: #f2f6fa;
                cursor: pointer;
            }

            .smallAvatarSize {
                margin: 0;

                img {
                    width: 32px;
                    height: 32px;
                }
            }

            .notfiText {
                margin-#{$left}: 8px;

                .notifiName {
                    display: flex;

                    h3 {
                        font-size: 12px;
                        font-weight: bold;
                        line-height: 1.33;
                        letter-spacing: -0.2px;
                        color: $header;
                        margin: 0;
                        font-family: $muli-b;
                    }

                    p {
                        opacity: 0.4;
                        font-size: 12px;
                        line-height: 1.33;
                        letter-spacing: -0.2px;
                        color: $sub-header;
                        margin-#{$left}: 4px;
                        font-family: $muli-r;
                    }
                }

                .notofoWorkflow {
                    font-size: 12px;
                    line-height: 1.33;
                    letter-spacing: -0.2px;
                    color: $sub-header;
                    font-family: $muli-r;
                    display: flex;
                    a {
                        font-size: 12px;
                        color: $grey-700;
                        font-weight: 600;
                        font-family: $muli-sb;
                        transition: all 0.2s;
                        white-space: nowrap;
                        max-width: 240px;
                        overflow: hidden;
                        display: inline-block;
                        text-overflow: ellipsis;
                        margin-left: 3px;

                        &:hover {
                            color: $blue-500-hover;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

        .notifi__tabs {
            position: sticky;
            top: 0;
            background: #fff;
            z-index: 999;

            //        box-shadow: 0px 0 12px #888888;
            //        margin-bottom: 10px;
            ul {
                display: flex;
                align-items: center;
                justify-content: flex-start;

                li {
                    width: 159px;
                    height: 56px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    padding-#{$left}: 15px;
                    cursor: pointer;
                    transition: all 0.3s ease;
                    position: relative;

                    .imgWrapper {
                        width: 24px;
                        height: 24px;
                        display: flex;
                        align-items: center;
                        position: relative;
                        overflow: hidden;

                        img {
                            margin: auto;
                            opacity: 1;
                            transition: all 0.3s ease;
                            width: 24px;
                            height: 24px;

                            &.activeImg {
                                display: none;
                                width: 16px;
                                height: 16px;
                            }
                        }

                        &::after {
                            content: '';
                            width: 24px;
                            height: 24px;
                            position: absolute;
                            opacity: 0;
                            top: 0;
                            left: 0;
                            transition: all 0.3s ease;
                            background-repeat: no-repeat;
                            background-position: center;
                        }
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        right: 8px;
                        left: 8px;
                        height: 3px;
                        background-color: transparent;
                    }

                    .tabNAme {
                        margin-#{$left}: 16px;
                        opacity: 0.6;
                        font-family: $muli-b;
                        font-size: 14px;
                        line-height: 1.43;
                        letter-spacing: normal;
                        color: $header;
                        transition: all 0.3s ease;
                    }

                    &:hover {
                        background-color: #f2f5f7;

                        span {
                            opacity: 1;
                        }

                        .imgWrapper {
                            img {
                                opacity: 0;
                            }

                            &.not__icon {
                                &::after {
                                    opacity: 1;
                                    background-image: url(../../images//notif-iconHover.png);
                                }
                            }

                            &.base__icon {
                                &::after {
                                    opacity: 1;
                                    background-image: url(../../images//grey-baseHover.png);
                                }
                            }
                        }
                    }

                    &.active {
                        &::after {
                            background-color: $Primary-2;
                        }

                        span {
                            color: $Primary-2;
                            opacity: 1;
                        }

                        img {
                            &.activeImg {
                                display: block;
                            }

                            &.normalImg {
                                display: none;
                            }
                        }

                        &:hover {
                            .imgWrapper {
                                img {
                                    opacity: 1;
                                }

                                &::after {
                                    opacity: 0;
                                    background-image: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
