.notificationPage {
    background: #fff;

    .noti__header {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 22px 0;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            height: 1px;
            background: #e9ecf0;
            #{$left}: -130px;
            #{$right}: -40px;
        }

        img {
            cursor: pointer;
            width: 13px;
            height: 10px;
        }

        h3 {
            font-family: $muli-b;
            font-size: 24px;
            line-height: 1.17;
            letter-spacing: -0.5px;
            color: $header;
            margin-#{$right}: 12px;
            margin-#{$left}: 18px;
        }

        span {
            font-family: $muli-r;
            font-size: 16px;
            opacity: 0.6;
            color: $sub-header;
            line-height: 1.5;
            letter-spacing: -0.2px;
        }
    }

    .notifi__tabs {
        ul {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            li {
                width: 220px;
                height: 64px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding-#{$left}: 15px;
                cursor: pointer;
                transition: all 0.3s ease;
                position: relative;

                .imgWrapper {
                    width: 24px;
                    height: 24px;
                    display: flex;
                    align-items: center;
                    position: relative;
                    overflow: hidden;

                    img {
                        margin: auto;
                        opacity: 1;
                        transition: all 0.3s ease;

                        &.activeImg {
                            display: none;
                        }
                    }

                    &::after {
                        content: '';
                        width: 24px;
                        height: 24px;
                        position: absolute;
                        opacity: 0;
                        top: 0;
                        left: 0;
                        transition: all 0.3s ease;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }

                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    right: 8px;
                    left: 8px;
                    height: 3px;
                    background-color: transparent;
                }

                .tabNAme {
                    margin-#{$left}: 16px;
                    opacity: 0.6;
                    font-family: $muli-b;
                    font-size: 14px;
                    line-height: 1.43;
                    letter-spacing: normal;
                    color: $header;
                    transition: all 0.3s ease;
                }

                &:hover {
                    background-color: #f2f5f7;

                    span {
                        opacity: 1;
                    }

                    .imgWrapper {
                        img {
                            opacity: 0;
                        }

                        &.not__icon {
                            &::after {
                                opacity: 1;
                                background-image: url(../../images//notif-iconHover.png);
                            }
                        }

                        &.base__icon {
                            &::after {
                                opacity: 1;
                                background-image: url(../../images//grey-baseHover.png);
                            }
                        }
                    }
                }

                &.active {
                    &::after {
                        background-color: $Primary-2;
                    }

                    span {
                        color: $Primary-2;
                        opacity: 1;
                    }

                    img {
                        &.activeImg {
                            display: block;
                        }

                        &.normalImg {
                            display: none;
                        }
                    }

                    &:hover {
                        .imgWrapper {
                            img {
                                opacity: 1;
                            }

                            &::after {
                                opacity: 0;
                                background-image: none;
                            }
                        }
                    }
                }
            }
        }
    }

    .notifi__tabs--content {
        width: 85%;

        @include max1400 {
            max-width: 963px;
        }


        .table_notify {
            table {
                border-left: 0;
                border-right: 0;

                thead {
                    tr {
                        th {
                            background: $background;
                            height: 48px;

                            p {
                                font-family: $muli-b;
                                font-size: 14px;
                                line-height: 1.43;
                                letter-spacing: -0.2px;
                                color: $grey-500;
                            }
                        }
                    }
                }

                tbody {
                    tr {
                        transition: all 0.3s ease;

                        td {
                            height: 48px;

                            .notiDrid__avatar {
                                display: flex;
                                align-items: center;
                                max-width: 180px;

                                .smallAvatarSize {
                                    margin: 0;
                                    flex-shrink: 0;
                                }

                                h3 {
                                    font-family: $sans-sb;
                                    font-size: 14px;
                                    line-height: 1.71;
                                    letter-spacing: -0.2px;
                                    color: $body;
                                    margin-#{$left}: 8px;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }
                            }

                            .notifi__status {
                                display: flex;

                                span {
                                    padding: 0 8px;
                                    height: 24px;
                                    border-radius: 100px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    font-family: $muli-sb;
                                    font-size: 12px;
                                    line-height: 1.33;
                                    letter-spacing: -0.2px;
                                    color: #ffffff;
                                }
                            }

                            .title_name {
                                h3 {
                                    text-transform: capitalize;
                                    font-family: $sans-sb;
                                    font-size: 14px;
                                    line-height: 1.71;
                                    letter-spacing: -0.2px;
                                    color: #3e4352;
                                }
                            }

                            .notifiDate {
                                p {
                                    font-family: $sans-r;
                                    font-size: 14px;
                                    line-height: 1.71;
                                    letter-spacing: -0.2px;
                                    color: $body;
                                }
                            }

                            .notifistate {
                                p {
                                    font-family: $sans-sb;
                                    font-size: 14px;
                                    line-height: 1.71;
                                    letter-spacing: -0.2px;
                                    color: $body;
                                }
                            }

                            &:first-child {
                                width: 50px;
                            }

                            &:nth-child(2) {
                                width: 175px;
                            }

                            &:nth-child(3) {
                                width: 115px;
                            }
                        }

                        &.unread_row {
                            .notifi__status {
                                span {
                                    background-color: #5e6475;
                                }
                            }
                        }

                        &.new_row {
                            .notifi__status {
                                span {
                                    background-color: #e74c3c;
                                }
                            }
                        }

                        &.opened_row {
                            .notifi__status {
                                span {
                                    display: none;
                                }
                            }

                            .title_name {
                                h3 {
                                    font-family: $sans-r;
                                }
                            }

                            .notifistate {
                                p {
                                    font-family: $sans-r;
                                }
                            }

                            .notiDrid__avatar {
                                h3 {
                                    font-family: $sans-r;
                                }
                            }
                        }

                        &:hover {
                            background: #f2f5f7;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}
