.printWrapper {
    width: 595px;
    margin: auto;
    box-shadow: 0 0 20px 7px #f1f1f1;
    padding-bottom: 50px;
    background: #fff;
}

.company__name {
    display: flex;
    padding-top: 28px;
    padding-#{$left}: 40px;
    margin-bottom: 29px;
    align-items: center;

    .company__logo {
        width: 60px;
        height: 60px;
        border-radius: 30px;
        background-color: $grey-100;
        margin-#{$right}: 26px;
    }

    h3 {
        font-family: OpenSans;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: -0.4px;
        color: #4f515a;
        margin: 0;
    }
}

.printGrid {
    padding-#{$left}: 126px;
    padding-#{$right}: 35px;

    .printHead {
        h3 {
            font-family: OpenSans;
            font-size: 18px;
            font-weight: bold;
            letter-spacing: -0.5px;
            color: #2c2e37;
            padding: 0;
        }

        .divspans {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            font-family: OpenSans;
            font-size: 11px;
            line-height: 2.18;
            letter-spacing: -0.2px;
            color: $grey-500;
        }
    }

    .subiTable {
        td {
            padding-bottom: 16px;
            padding-right: 16px;
            letter-spacing: -0.2px;
            color: $body;
            font-size: 12px;
            font-family: font-opens;

            h4 {
                .content {
                    font-size: 12px;
                }
            }
        }
    }
}

.docStatus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 28px;

    .highClosed {
        width: 138px;
        height: 37px;
        border-radius: 18px;
        border: 1px solid $grey-100;
        display: flex;
        align-items: center;
        justify-content: space-around;

        span {
            font-family: OpenSans;
            font-size: 11px;
            font-weight: normal;
            line-height: 1.45;
            letter-spacing: -0.3px;
            color: $body;

            &.redSpan {
                font-weight: 600;
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    top: 3px;
                    #{$left}: -15px;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background-color: red;
                }
            }
        }
    }

    .requireDate {
        span {
            font-family: OpenSans;
            font-size: 12px;
            font-weight: normal;
            line-height: 2;
            letter-spacing: -0.2px;
            color: $body;

            &:first-child {
                font-weight: 600;
            }
        }
    }
}

.printSecondPage {
    hr {
        margin: 50px 30px 29px;
        border: 1px solid #e9ecf0;
    }

    .company__name {
        justify-content: flex-start;
        flex-flow: row-reverse;
        padding-top: 25px;
        padding-#{$right}: 28px;

        .company__logo {
            width: 28px;
            height: 28px;
            margin-#{$right}: 0;
            margin-#{$left}: 8px;
        }

        h3 {
            font-size: 8px;
            color: #a8b0bf;
        }
    }

    .attachmentTable {
        thead {
            display: none;
        }
    }

    .workflowPrint {
        display: flex;
        align-items: center;
        height: 60px;
        padding: 16px 40px;
        justify-content: space-around;

        .flowLevel {
            display: flex;
            align-items: center;
            width: 50%;

            .flowNumber {
                .stepLevel {
                    width: 28px;
                    height: 28px;
                    background: #e9ecf0;
                    color: #fff;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-family: OpenSans;
                    font-size: 13px;
                    color: #5e6475;

                    &.pendingLevel {
                        color: #ccd2db;
                    }
                }
            }

            .flowMember {
                display: flex;
                align-items: center;

                .smallAvatarSize {
                    width: 28px;
                    height: 28px;
                    margin: 0 8px 0 12px;
                }

                .FlowText {
                    h3 {
                        font-family: OpenSans;
                        font-size: 12px;
                        font-weight: 600;
                        line-height: 1.33;
                        letter-spacing: -0.2px;
                        color: #252833;
                        margin: 0;
                    }

                    p {
                        font-family: OpenSans;
                        font-size: 12px;
                        line-height: 1.33;
                        letter-spacing: -0.2px;
                        color: #858d9e;
                    }
                }
            }
        }

        .flowStatus {
            display: flex;
            align-items: center;
            position: relative;
            min-width: 36%;

            &::after {
                content: '';
                position: absolute;
                #{$left}: -30px;
                width: 24px;
                height: 24px;
                background-size: 100% 100%;
            }

            &.approvedStatue {
                &::after {
                    background-image: url(../../images/approval.png);
                }
            }

            &.pendingStatue {
                &::after {
                    background-image: url(../../images/pending.png);
                }
            }

            .statueName {
                font-family: OpenSans;
                font-size: 12px;
                font-weight: 600;
                line-height: 1.67;
                letter-spacing: -0.2px;
                color: #252833;
            }

            .statueDate {
                font-family: OpenSans;
                font-size: 10px;
                line-height: 1.6;
                letter-spacing: -0.2px;
                color: #858d9e;
                margin-#{$left}: 3px;
                margin-#{$right}: 12px;
            }

            .statueSignature {
                width: 50px;
                height: 30px;

                img {
                    width: 100%;
                }
            }
        }
    }
}
