.Submittal-container {
    padding: 20px;
    .submittalHead {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .horizSubActions {}
    .horizSubActions-container {
        width: 732px;
    }
    .sadasdsadas {
//        float: left;
        width: calc(100% - 324px);
    }
    .submittalFilter {
        clear: both;
    }
    .submiModalBig,
    .subiModalNoTabs {
        margin: 0 auto;
    }
}

.submittalHead {
    width: 100%;
    height: 108px;
    background-color: $white;
    @include box-shadow (0 2px 4px 0 rgba(0, 0, 0, 0.2));
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    position: relative;
    h2 {
        color: $grey-900;
        line-height: 1.18;
        letter-spacing: -1.1px;
        font-family: $muli-b;
        font-size: 34px;
        span {
            color: $grey-600;
            line-height: 1.43;
            letter-spacing: -0.2px;
            font-family: $sans-r;
            font-size: 14px;
            display: block;
            margin-top: 5px;
        }
    }
    .SubmittalHeadClose {
        position: absolute;
        top: 25px;
        #{$right}: 25px;
        cursor: pointer;

        &:hover {
            circle {
                fill: $grey-400;
                -webkit-transition: 0.3s ease;
                transition: 0.3s ease;
            }
            path {
                fill: $grey-900;
                -webkit-transition: 0.3s ease;
                transition: 0.3s ease;
            }
        }
    }
}

.submittalActions {
    padding-top: 23px;
    width: 324px;
    height: 697px;
    background-color: $grey-50;
    align-items: center;

    .title {
        padding: 0 40px;
        > h2 {
            line-height: 1.4;
            letter-spacing: -0.2px;
            color: $grey-900;
            margin-bottom: 50px;
            font-family: $muli-b;
            text-align: center;
            font-size: $heading3-font;
        }
        > .mediumBtn {
            width: 100%;
            margin-bottom: 18px;
        }
        hr {
            border: .5px solid $grey-100;
            width: 100%;
            margin-top: 12px;
            margin-bottom: 12px;
        }
    }
    .docsubmitt-group {
        .mediumBtn {
            margin-bottom: 18px;
        }
    }

    .SubmittalUL {
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        width: 100%;
        li {
            padding: 0 40px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            width: 100%;
            -webkit-transition: 0.3s;
            transition: 0.3s;

            &:hover {
                background-color: $grey-100;
                background-color: #f5f5f6;
                a {
                    color: $grey-700;
                    .svg {
                        background-color: $blue-100;
                    }

                }

            }
            &:last-child {
                margin-bottom: 0;
            }
            a {
                height: 56px;
                width: 100%;
                display: inline-flex;
                align-items: center;
                line-height: 1.43;
                letter-spacing: 0.2px;
                color: #858d9e;
                font-family: $muli-b;
                text-transform: uppercase;
                .svg {
                    width: 40px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    margin-#{$right}: 16px;
                    -webkit-transition: 0.3s;
                    transition: 0.3s;

                }

            }

            /*  &:nth-child(2) {
                a {
                    border-bottom: 1px solid $grey-100;
                }
            }*/
        }
        hr {
            border: .5px solid $grey-100;
            margin-top: 12px;
            margin-bottom: 12px;
            width: 100%;
        }
    }
}


.horizSubActions {
    width: 100%;
    min-width: 732px;
    height: 72px;
    background-color: $white;
    @include box-shadow (0 2px 3px 0 rgba(0, 0, 0, 0.2));
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 12px;
    .SubAccloseIcon {
        flex: 0.1;
        height: 50px;
        cursor: pointer;
        svg {
            &:hover {
                circle {
                    fill: $grey-200;
                }
                path {
                    fill: #000;
                }
            }
        }

    }
    .horizSubUlContainer {
        flex: 0.9;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        .btn {
            margin-#{$right}: 32px;
        }
        .SubmittalUL {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            li {
                width: 66px;

                &:nth-child(4) {
                    width: 72px;
                }
                &:nth-child(5) {
                    width: 72px;
                }

                a {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                    -ms-flex-flow: column;
                    flex-flow: column;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    font-size: $heading7-font;
                    letter-spacing: 0.3px;
                    color: $grey-500;
                    line-height: normal;
                    text-align: center;
                    font-family: $muli-sb;

                    .svg {
                        width: 32px;
                        height: 32px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 50%;
                        -webkit-transition: 0.3s;
                        transition: 0.3s;


                    }
                    &:hover {
                        .svg {
                            background-color: $blue-100;
                        }
                        color: $blue-600;
                        text-decoration: underline;
                        font-size: $heading7-font;
                    }
                }
                &:nth-child(3) {
                    position: relative;
                    margin-right: 30px;
                    &:after {
                        content: "";
                        height: 41px;
                        width: 1px;
                        background-color: $grey-100;
                        position: absolute;
                        top: 3px;
                        right: -15px;
                    }
                }
                &:nth-child(5) {
                    position: relative;
                    margin-right: 16px;
                    &:after {
                        content: "";
                        height: 41px;
                        width: 1px;
                        background-color: $grey-100;
                        position: absolute;
                        top: 3px;
                        right: -15px;
                    }
                }
                &:nth-child(6) {
                    margin-left: 16px;

                }
            }



        }

    }

}

.submittalFilter {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 40px 0;
    .subFilter {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        flex: 1;
        > h3 {
            font-size: $heading3-font;
            line-height: 1.4;
            letter-spacing: 0.6px;
            color: $grey-900;
            font-family: $muli-xb;
            text-transform: uppercase;
            margin-#{$right}: 8px;
        }
        > span {
            font-family: $muli-sb;
            font-size: $heading3-font;
            line-height: 1.4;
            letter-spacing: 0.6px;
            color: $grey-500;
            margin-#{$right}: 24px;

        }
        .text {
            font-family: $muli-b;
            font-size: $heading6-font;
            line-height: 1.67;
            letter-spacing: 0.2px;
            color: $grey-600;
            text-transform: uppercase;
        }
        .dropdown {
            padding-top: 5px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            .text {
                margin-#{$left}: 8px;

            }
        }

    }
    .filterBTNS {
        .btn {
            &:first-child {
                margin-#{$right}: 16px;
            }
        }
    }

    .fillter-button {
        position: relative;
        &::after,
        &::before {
            content: '';
            position: absolute;
    left: -7px;
    top: -12px;
    display: inline-block;
    height: 35px;
    width: 120%;
            margin-top: 10px;
            opacity: 0;
            -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            transition: opacity 0.35s, transform 0.35s;
        }
        &::before {
            border-left: 1px solid $grey-600;
            border-right: 1px solid $grey-600;
            -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
        }

        &::after {
            border-bottom: 1px solid $grey-600;
            border-top: 1px solid $grey-600;
            -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
        }
        .text {
            .show-fillter {
                display: none;
            }
            &.active {
                .hide-fillter {
                    display: none;
                }
                .show-fillter {
                    display: block;
                }
            }
        }

        &:hover {
            &::after,
            &::before {
                opacity: 1;
                -webkit-transform: scale(1);
                transform: scale(1);
            }
        }
    }

}

.modals.dimmer .ui.scrolling.modal.submiModalBig {
    margin: 0 !important;

}

.submiModalBig {
    max-width: 941px;
    box-shadow: -8px 0 12px 0 rgba(0, 0, 0, 0.2);
    background-color: $white;
    overflow-y: auto;
    bottom: 0;

    .horizSubActions {
        z-index: 2;
        position: relative;
    }

    .dimmer {
        align-items: flex-end;
    }
    &.ui.modal {
        border-radius: 0;
        width: 100%;
        max-width: 941px;
        padding: 0;
        position: absolute;
        right: 0;
        left: initial;
        top: 0px;
        .close {
            position: absolute;
            top: 10px;
            width: 50px;
            left: 25px;
            right: initial;
            height: 50px;
            z-index: 99;
        }
    }

}

.subiTabContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    .subiTabsContent {
        width: calc(100% - 289px);
    }
}

.subitTabs {
    width: 289px;
    background-color: $grey-50;
    position: relative;
    z-index: 1;
    h3 {
        height: 72px;
        margin-#{$left}: 40px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        line-height: 1.17;
        letter-spacing: -0.5px;
        text-align: center;
        color: $grey-900;
        font-family: $muli-b;
        font-size: $heading2-font;
    }
    ul {
        li {
            padding-#{$left}: 40px;
            height: 64px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-flow: column;
            flex-flow: column;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            align-items: flex-start;
            cursor: pointer;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                width: 84%;
                height: 1px;
                background-color: $grey-100;
                left: 24px;
            }
            .subUlTitle {
                line-height: 1.5;
                letter-spacing: -0.2px;
                color: $grey-900;
                font-size: $heading4-font;
                font-family: $muli-b;
            }
            .subUlsubT {
                line-height: 1.33;
                letter-spacing: -0.2px;
                color: $grey-500;
                font-size: $heading6-font;
            }
            &.active {
                border-#{$left}: 6px solid $Primary-2;
                background-color: $grey-100;
                padding-#{$left}: 34px;
                &:after {
                    position: absolute;
                    content: "";
                    background: url(../../images/active-arrow.png);
                    height: 20px;
                    width: 20px;
                    background-repeat: no-repeat;
                    #{$right}: 10px;
                    #{$left}: inherit;
                    top: 40%;
                }
            }
            &:hover {
                -webkit-transition: 0.3s;
                transition: 0.3s;
                background-color: $grey-100;
            }
        }
    }
}

.subiTabsContent {
    width: 100%;
    padding-bottom: 40px;
    .subiConHead {
        height: 72px;
        border-bottom: 1px solid $grey-100;
        display: flex;
        align-items: center;
        padding: 0 80px;
        h3 {
            line-height: 1.4;
            letter-spacing: -0.2px;
            text-align: center;
            color: $grey-900;
            font-family: $muli-b;
            font-size: $heading3-font;
        }
    }
}

.subiGrid {
    padding: 0 80px;
    .subiTaskTitle {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        align-items: flex-start;
        padding-top: 26px;
        padding-bottom: 32px;
        > span {
            margin-#{$right}: 16px;
            margin-top: 6px;
        }
        .divhead {
            width: 100%;
            h3 {
                line-height: 1.5;
                letter-spacing: -0.2px;
                color: $grey-900;
                font-family: $muli-b;
                font-size: $heading4-font;
                padding-bottom: 9px;
            }
            .divspans {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                line-height: 1.71;
                letter-spacing: -0.2px;
                color: #a8b0bf;
                font-size: $heading5-font;
                div {
                    &:nth-child(2) {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-pack: end;
                        -ms-flex-pack: end;
                        justify-content: flex-end;
                        -webkit-box-flex: 1;
                        -ms-flex: 1;
                        flex: 1;
                        padding-top: 5px;
                        .subiStatus {
                            margin-#{$right}: 48px;
                            line-height: 1.33;
                            letter-spacing: -0.2px;
                            color: $grey-800;
                            font-size: $heading6-font;
                            font-family: $sans-r;
                        }
                        .subiPriority {
                            line-height: 1.33;
                            letter-spacing: -0.3px;
                            color: $grey-800;
                            font-family: $sans-sb;
                            font-size: $heading6-font;
                            position: relative;

                            &.redsSPan {
                                &::before {
                                    content: "";
                                    position: absolute;
                                    top: 3px;
                                    left: -15px;
                                    width: 8px;
                                    height: 8px;
                                    border-radius: 50%;
                                    background-color: red;
                                }
                            }
                            &.greensSpan {
                                &::before {
                                    content: "";
                                    position: absolute;
                                    top: 3px;
                                    left: -15px;
                                    width: 8px;
                                    height: 8px;
                                    border-radius: 50%;
                                    background-color: green;
                                }
                            }
                        }
                    }
                }
            }
        }

    }
    .subiTable {
        margin-bottom: 28px;
        padding-bottom: 15px;
        border-bottom: 1px solid $grey-100;
        .ui.header > .image:not(.icon),
        .ui.header > img {
            width: 16px;
            height: 16px;
        }
        td {
            padding-bottom: 24px;
            padding-#{$right}: 16px;
            letter-spacing: -0.2px;
            color: $grey-800;
            font-size: $heading5-font;
            font-family: $sans-r;
            h4 {
                display: flex;
            }

            span {
                font-family: $sans-sb;
            }
        }
    }
    .subiRefContainer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding-bottom: 65px;
        div {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            h4 {
                margin-#{$right}: 8px;
                line-height: 1.43;
                letter-spacing: -0.2px;
                color: $grey-900;
                font-size: $heading5-font;
                font-family: $sans-sb;
            }
            span {
                line-height: 1.71;
                letter-spacing: -0.2px;
                color: $grey-800;
                font-size: $heading5-font;
                font-family: $sans-r;
            }
        }

        .subiRefNo {
            margin-#{$right}: 56px;
            h4 {
                margin-#{$right}: 32px;
            }
        }
    }
    .subiItems {
        h3 {
            border-bottom: 1px solid $grey-100;
            padding-bottom: 8px;
            margin-bottom: 20px;
        }
        ol {
            li {
                margin-bottom: 16px;
                line-height: 1.71;
                letter-spacing: -0.2px;
                color: $grey-800;
                font-family: $sans-r;
                font-size: $heading5-font;
            }
        }
    }
}

.modals.dimmer .ui.scrolling.modal.subiModalNoTabs {
    margin: 0 !important;

}

.subiModalNoTabs {
    width: 732px;
    background-color: $white;
    box-shadow: -8px 0 12px 0 rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    bottom: 0;

    .dimmer {
        align-items: flex-end;
    }
    &.ui.modal {
        border-radius: 0;
        width: 732px;
        padding: 0;
        position: absolute;
        right: 0;
        left: initial;
        top: 0px;
        .close {
            position: absolute;
            top: 10px;
            width: 50px;
            left: 25px;
            right: initial;
            height: 50px;
        }

    }
    .subiTabsContent {
        padding: 0;
    }
    .subiGrid {
        padding: 40px 80px;
        .subiTaskTitle {
            padding-top: 0;
        }
    }
}

/**/
