// fonts
// --------------------------------------------------

/*ENglish*/
@font-face {
    font-family: font-r;
    font-weight: normal;
    src: url("../../fonts/Muli-Regular.ttf");
}
@font-face {
    font-family: font-l;
    font-weight:300;
    src: url("../../fonts/Muli-Light.ttf");
}
@font-face {
    font-family: font-xb;
    font-weight: 800;
    src: url("../../fonts/Muli-ExtraBold.ttf");
}

@font-face {
    font-family: font-b;
    font-weight: bold;
    src: url("../../fonts/Muli-Bold.ttf");
}

@font-face {
    font-family: font-black;
    src: url("../../fonts/Muli-Black.ttf");
}

@font-face {
    font-family: font-sb;
    src: url("../../fonts/Muli-SemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: font-opens;
    src: url("../../fonts/OpenSans-Regular.ttf");
    font-weight: normal;
}
@font-face {
    font-family: font-opensb;
    font-weight: 600;
    src: url("../../fonts/OpenSans-Semibold.ttf");
}
@font-face {
    font-family: font-openb;
    src: url("../../fonts/OpenSans-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: roboto-M;
    src: url("../../fonts/Roboto-Medium.ttf");
    font-weight: 500;
}
