//
// Variables
// --------------------------------------------------

/* Fonts  Vars*/

$muli-r	          : font-r;
$muli-l	          : font-l;
$muli-black		  : font-black;
$muli-sb		  : font-sb;
$muli-b           : font-b;
$muli-xb          : font-xb;

$sans-r		      : font-opens;
$sans-sb		  : font-opensb;
$sans-b		      : font-openb;

$roboto-m		  : roboto-M;

$font-num   	  : Myriad Pro, Arial, sans-serif;
$fa				  : FontAwesome;

/********************************************/

// == Colors //

/*Blue */
$blue-50:  #E8F4FC;
$blue-100: #CCE6FF;
$blue-200: #ACCFFC;
$blue-300: #83B4FC;
$blue-400: #5F98FA;
$blue-500: #4382F9;
$blue-500-hover: #3570e6;
$blue-600: #3570E6;
$blue-700: #2557CC;
$blue-800: #1538AD;
$blue-900: #071D8C;

/*#Light Green*/
$lightgreen-50:      #E9FCE3;
$lightgreen-100:     #BCF0B4;
$lightgreen-200:     #9BE695;
$lightgreen-300:     #7CDB79;
$lightgreen-400:     #5FD45F;
$lightgreen-500:     #47CC4A;
$lightgreen-600:     #39BD3D;
$lightgreen-700:     #2AA832;
$lightgreen-800:     #1D9129;
$lightgreen-900:     #097324;

/*Green */
$green-50:      #DBF3E9;
$green-100:     #A4DBC2;
$green-200:     #85CCA8;
$green-300:     #69BF93;
$green-400:     #4FB37D;
$green-500:     #38A96B;
$green-600:     #289C5E;
$green-700:     #198C50;
$green-800:     #0D7D47;
$green-900:     #006739;

/*Red*/
$red-50:      #FAE6E1;
$red-100:     #F5C2B8;
$red-200:     #F09D90;
$red-300:     #ED7A6B;
$red-400:     #EB6152;
$red-500:     #E74C3C;
$red-600:     #D83E2F;
$red-700:     #C42D22;
$red-800:     #B31D18;
$red-900:     #9E0F11;

/*Teal*/
$teal-50:      #E0F2F1;
$teal-100:     #B2DFDB;
$teal-200:     #80CBC4;
$teal-300:     #4DB6AC;
$teal-400:     #26A69A;
$teal-500:     #009688;
$teal-600:     #00897B;
$teal-700:     #00796B;
$teal-800:     #00695C;
$teal-900:     #004D40;

/*grey*/
$grey-50:      #FAFBFC;
$grey-100:     #E9ECF0;
$grey-200:     #DADEE6;
$grey-300:     #CCD2DB;
$grey-300-hover:     #b9bfc7;
$grey-400:     #BCC4D1;
$grey-500:     #A8B0BF;
$grey-500-hover:     #969eab;

$grey-600:     #858D9E;
$grey-700:     #5E6475;
$grey-700-hover:     #4e5361;
$grey-800:     #3E4352;
$grey-900:     #252833;

$grey-drop:    #e9edf2;
///////////
$white: #ffffff;
$black: #000;

$background: #fafbfc;
$hover: #e9ecf0;
$stroke: #dadee6;
$light-text: #bcc4d1;
$sub-header: #858d9e;
$body: #3e4352;
$side-nav: #333e52;
$header: #252833;
$Primary-1: #528eff;
$Primary-2: #4382f9;
$Primary-3: #2c6eec;
$Secondary-1: #e74c3c;
$Secondary-2: #93d300;
$Secondary-3: #ffc107;

/*Basic Spacing*/
$px-2:      2px;
$px-4:      4px;
$px-8:      8px;
$px-16:     16px;
$px-32:     32px;
$px-64:     64px;

////////////////////////////////////

//== Typography
//
$display4-font: 112px;
$display3-font: 56px;
$display2-font: 45px;
$display1-font: 34px;

$body-1-font		: 14px !default;
$body-2-font		: 16px !default;
$caption-font		: 12px !default;

$heading1-font		: 28px !default;
$heading2-font		: 24px !default;
$heading3-font		: 20px !default;
$heading4-font		: 16px !default;
$heading5-font		: 14px !default;
$heading6-font		: 12px !default;
$heading7-font		: 10px !default;



/********************************************/

$red-color: #e22b27;
$bk-btn-color: #004D5D;

$text-color			: #343434;
$text-color2		: #3d5fc2;

$foot-tophead		: #8d7a53;

$primary-darker		: #290d4c;
$secondary-base		: #ddb226; 
$secondary-darker	: #2a9da3;

$icons-color		: #e5b32a;

$selection-color : #47cc4a;
$input-placeholder-color : #d1d1d1;

//
//##