$left: right;
$right: left;

$ltr: rtl;
$rtl: ltr;

@import "../_bootstrap";

@import "../_variables";
@import "../_Media-Query";
@import "../_Mixins";
@import "../_normalize";
@import "../_fonts";

// home page components
@import "../Components/_basic-colors";
@import "../Components/_Accordion";
@import "../Components/_Navigation";
@import "../Components/DatePicker";
@import "../Components/_Sections";
@import "../Components/_Modal";
@import "../Components/_GridSystem";
@import "../Components/_header";
//@import "../Components/_Settings";
@import "../Components/_Documents";
@import "../Components/_Documents_noTabs";
@import "../Components/_Dashboard";
@import "../Components/_attachmentNewTable";
@import "../components/_NotificatioBar";
@import "../components/_Print";
@import "../components/_NotificatioPage";
@import "../components/_Login";
@import "../components/_SettingsNew";
@import "../components/_adminProfile";
//@import "../components/_EpsProjects";

/*Elements*/
@import "../Components/Elements/_All-Elements";

@import "../ar-edition";
@import "../components/_reactCss";
